{% extends 'basics/base.html' %}
{% block content %}
{% load staticfiles %}
<div id="standard-modal">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="text-center" id="standard-modal-headline">About Us<br><small>It's nice to meet you!</small></h2>
		</div>
		<div class="modal-body">
			<h3>Welcome to Act of Goods</h3>
            <p>Our team, which is responsible for the maintenance and design of this site, consists of a chaotic mass of 8 students of the Technical University of Berlin.<br>
            We are proud to present you our concept for a good cause.</p>
            <h3>Our Team:</h3>
            <div class="row">
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Sean.png' %} alt="image of Sean McLeish" />
                    <h3>Sean McLeish
                        <br><small>Product Owner</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Phillip.png' %} alt="image of Phillip Fiala" />
                    <h3>Phillip Fiala
                        <br><small>Scrum Master</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Paul.jpg' %} alt="image of Paul Beck" />
                    <h3>Paul David Beck
                        <br><small>Co-Scrum Master</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Thomas.jpg' %} alt="image of Thomas Dittrich-Salamon" />
                    <h3>Thomas Dittrich-Salamon
                        <br><small>Technology</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Sandrine.jpg' %} alt="image of Sandrine Witt" />
                    <h3>Sandrine Witt
                        <br><small>Team Member</small>
                    </h3>
                </div>
                <div class="col-sm-4 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Johannes.jpg' %} alt="image of Johannes-Paul Winkler" />
                    <h3>Johannes-Paul Winkler
                        <br><small>Team Member</small>
                    </h3>
                </div>
                <div class="col-sm-6 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Deniz.png' %} alt="image of Deniz Riedel" />
                    <h3>Deniz Riedel
                        <br><small>Team Member</small>
                    </h3>
                </div>
                <div class="col-sm-6 text-center" style="height: 300px;">
                    <img class="img-circle" id="brand-image" src={% static 'basics/images/Victor.jpg' %} alt="image of Victor Rathke" />
                    <h3>Victor Rathke
                        <br><small>Team Member</small>
                    </h3>
                </div>
            </div>
		</div>
	</div>
</div>

{% endblock %}
