{% extends 'basics/base.html' %}

{% block content %}


<div class="container-fluid" id="wrapper">
	<div class="row">

		<!-- description counter and immediat aid button -->
		<div class="col-sm-7 col-sm-push-5">
			<div id="description-counter-immediate-aid">
				<h1 id="act-of-goods-heading">Act of Goods</h1>
				<p>is a website to connect people or organizations that need help with people or organizations who offer help in situations like extraordinary emergency or natural disasters. If you are a private person and want to join us sign up right now! If you have an organization and want to join us, <a href="{% url 'basics:contact_us' %}">contact us</a>.</p>
				<p>Number of people who are looking for help:</p>
				<div id="counter-container">
					<div id="counter-inner">
						<div id="counter">
							{{counter}}	<!-- TODO hier noch die richtige anzahl einfuegen -->
						</div>
					</div>
				</div>
				<p>Maybe you can help someone in your neighborhood!</p>

				<!-- immediate aid button -->
				<div id="immediate-aid-container">
					<div id="immediate-aid-inner">
						<div class="row">
    		    			<div class="col-md-12">
								<a class="btn btn-default immediate-aid-button" type="button" href="{% url 'basics:immediate_aid' %}">
									<div>Immediate<br />Aid</div>
								</a>
    		    			</div>
						</div>
					</div>
				</div>
    		</div>
		</div>

		<div class="col-sm-5 col-sm-pull-7">
			<div id="sign-up">
				<div class="modal-header">
					<h2 class="text-center">Sign Up</h2>
				</div>
				<div class="modal-body">
					<form class="form" role="form" id="register_form" method="post" action="{% url 'basics:register' %}" accept-charset="UTF-8" id="login-nav">
					{% csrf_token %}

						{% if messages %}
    						{% for message in messages %}

								{% if message.message == 'eae' %}
									<div class="form-group">
										<div class="error-messages">
    										<p>Email already exists! If you forgot your password use the <a href="{% url 'basics:reset_password_page' %}">reset password funtion</a>.</p>
										</div>
									</div>
								{% endif %}
    						{% endfor %}
						{% endif %}
		  				<div class="form-group">
		  					<input type="email" class="form-control input-lg" placeholder="Email" name="email" required/>
		  				</div>

						{% if messages %}
    						{% for message in messages %}
    							{% if message.message == 'wp' %}
									<div class="form-group">
										<div class="error-messages">
    										<p>Your password does not match with the repeated password.</p>
										</div>
									</div>
    							{% endif %}
    						{% endfor %}
						{% endif %}

		  				<div class="form-group">
		  					<input type="password" class="form-control input-lg" placeholder="Password" name="password" required/>
		  				</div>
		          		<div class="form-group">
		  					<input type="password" class="form-control input-lg" placeholder="Password" name="check_password" required/>
		  				</div>

              <div class="alert alert-info " role="alert">We need a location to provide you best information. Add here.
        					{% include "basics/map_testing.html" %}
    					</div>
						<div class="form-group">
							<p id="terms-of-use-privacy-polices">By clicking on "Register" you accept the <a href="#" data-toggle="modal" data-target=".modal-terms-of-use">Terms of Use</a> and the <a href="#" data-toggle="modal" data-target=".modal-privacy-polices">Privacy Polices</a>!</p>
						</div>
						<div class="modal fade modal-terms-of-use"  role="dialog" aria-labelledby="terms-of-use" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
    								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          									<span aria-hidden="true">&times;</span>
        								</button>
										<h2 class="text-center">Terms of Use</h2>
									</div>
									<div class="modal-body">
    								  	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    								</div>
									<div class="modal-footer">
        								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      								</div>
  								</div>
							</div>
						</div>
						<div class="modal fade modal-privacy-polices"  role="dialog" aria-labelledby="private-polices" aria-hidden="true">
							<div class="modal-dialog modal-lg">
								<div class="modal-content">
    								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          									<span aria-hidden="true">&times;</span>
        								</button>
										<h2 class="text-center">Private Polices</h2>
									</div>
									<div class="modal-body">
    								  	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
										<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    								</div>
									<div class="modal-footer">
        								<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      								</div>
  								</div>
							</div>
						</div>
						<div class="form-group">
							<input type="submit" onclick="register()" class="btn btn-block btn-lg btn-primary" value="Register"/>
						</div>

						<div class="checkbox" >
							<label>
								<input type="checkbox" data-toggle="switch" value="True" name="toggle_button"> keep me logged-in
							</label>
						</div>

					</form>
				</div>

			</div>
		</div>
	</div>
</div>

<script>
  //because shit is not working
  function register(){
    $("#register_form").submit();
  }
</script>

{% endblock %}
