<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible"  content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Act of Goods</title>
		{% load staticfiles %}
		<link rel="icon" href="{% static 'basics/images/icon.ico' %}">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'basics/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'basics/css/event-list.css' %}">
    <link rel="stylesheet" href="{% static 'basics/css/navbar_footer.css' %}">
	<link rel="stylesheet" href="{% static 'basics/css/startpage.css' %}">
    <link rel="stylesheet" href="{% static 'basics/css/standard_components.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'basics/js/bootstrap.min.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<script src="https://fb.me/react-15.0.2.js"></script>
	<script src="https://fb.me/react-dom-15.0.2.js"></script>
	<script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

	<style>
		* {
	    		margin: 0;
    			padding: 0;
		}
		html, body {
			height: 100%;
			font-size: 1em;
		}
		#wrapper {
			position: relative;
    			min-height: 100%;
    			width: 100%;
    			margin: 0 auto;
    			overflow-x: hidden;
    			overflow-y: hidden;
		}

		#content {
			margin-bottom: 170px;
		}
	.event-list > li > time {
		background-color: rgb(112, 149, 44);
	}
	.event-list > li:nth-child(even) > time {
		background-color: rgb(93, 95, 91);
	}

	</style>


	</head>

	<body>

	<div id="wrapper">
		{% if user.is_authenticated %} <!-- signed in user -->
		<div id="header">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid" id="navbar-inner">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'basics:home' %}">
							<img id="brand-image" src={% static 'basics/images/AoGLogo.png'%} alt="Act of Goods"/>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-collapse">
						<ul class="nav navbar-nav navbar-left">
							<li {% if "/home/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:home' %}">Home</a></li>
                            <li {% if "/needs" in request.path %} class="active" {% endif %}><a href="{% url 'basics:needs_all' %}">Needs</a></li>
                            <li {% if "/information" in request.path %} class="active" {% endif %}><a href="{% url 'basics:information_all' %}">Information</a></li>
							<li id="navbar-with-divider" {% if "/chat/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:chat' %}">Chats  <span class="badge" id="badge-container"></span></a></li>
                            {% if user.groups.all|length != 0 %}
                                <li {% if "/groups" in request.path %} class="dropdown active" {% else %} class="dropdown" {% endif %}>
								    <a id="navbar-dropdown" href="#" class="dropdown-toggle" data-toggle="dropdown">Organisations <span class="caret"></span></a>
								    <ul id="navbar-dropdown-menu" class="dropdown-menu">
                	                    {% for group in user.groups.all %}
									            <li {% if "/groups/detail/{{group.name}}/" in request.path %} id="active-dropdown" {% endif %}><a href="{% url 'basics:group_detail' name=group.name %}">{{group.name}}</a></li>
                                        {% endfor %}
								    </ul>
							    </li>
                            {% endif %}
						</ul>

						<ul class="nav navbar-nav navbar-right">
							{% if user.is_staff %}
								<li id="navbar-with-divider" {% if "/administration/requests/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:requests' %}">Administration</a></li>
							{% else %}
							<li {% if "/help/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:help'%}">Help</a></li>
							{% endif %}
							{% if not user.is_superuser %}
							<li {% if "/profil/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:profil' %}">Profil</a></li>
							{% endif %}
							<li><a href="{% url 'basics:logout' %}">Logout</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		{% else %} <!-- navbar for unsigned user -->
		<div id="header">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid" id="navbar-inner">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'basics:login' %}">
							<img id="brand-image" src={% static 'basics/images/AoGLogo.png'%} alt="Act of Goods"/>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-collapse">
                        <div id="navbar-with-divider">
						    <ul class="nav navbar-nav navbar-left">
							    <li {% if "/aboutus/" not in request.path and "/privacy/" not in request.path and "/immediate_aid/" not in request.path and "/contact_us/" not in request.path %} class="active" {% endif %}><a href="{% url 'basics:login' %}">Home</a></li>
                                <li {% if "/contact_us/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:contact_us'%}"><span class="glyphicons glyphicons-group" aria-hidden="true"></span> Contact Us</a></li>
                                <li {% if "/aboutus/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:aboutus'%}"><span class="glyphicons glyphicons-group" aria-hidden="true"></span> About Us</a></li>
						    </ul>
                        </div>
						<ul class="nav navbar-nav navbar-right">
							<li>
                                <div id="navbar-text">
                                    <p class="navbar-text">Already have an account?</p>
                                </div>
                            </li>
							<li class=  {% if messages %}
                                            {% for message in messages %}
                                                {% if message.message == 'lw' %}
                                                    "dropdown open"
                                                {% else %}
                                                    "dropdown"
                                                {% endif %}
    							            {% endfor %}
							            {% else %}
                                            "dropdown"
                                        {% endif %}>
								<a id="navbar-login" href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
								<ul id="login-dp" class="dropdown-menu">
									<li>
										<div class="row">
											<div class="col-md-12">
												<form class="form" role="form" method="post" action="{% url 'basics:login' %}" accept-charset="UTF-8" id="login-nav">
                      								{% csrf_token %}
													{% if messages %}
    													{% for message in messages %}
    														{% if message.message == 'lw' %}
																<div class="form-group">
																	<p id="login-error-message">Enter your email and your password correctly.</p>
																</div>
    														{% endif %}
    													{% endfor %}
													{% endif %}
													<div class="form-group">
														<label class="sr-only" for="InputEmail">Email</label>
														<input type="text" class="form-control input-lg" name="email" placeholder="Email" required>
													</div>
													<div class="form-group">
														<label class="sr-only" for="InputPassword">Password</label>
														<input type="password" class="form-control input-lg" name="password" placeholder="Password" required>
														<div class="help-block text-right"><a id="reset-password-link" href="{% url 'basics:reset_password_page'%}">Forgot the password?</a></div>
													</div>
													<div class="form-group">
														<button type="submit" id="login" class="btn btn-primary btn-block btn-lg">Sign in</button>
													</div>
													<div class="checkbox" >
														<label>
															<input type="checkbox" data-toggle="switch" value="True" name="toggle_button"> keep me logged-in
														</label>
													</div>
												</form>
											</div>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		{% endif %}

		<div class="container" id="content">
		{% block content %}
    	{% endblock %}
		</div>

		<div id="footer">
			<div class="row" id="footer-row">
        			<div class="col-lg-12 col-md-12 col-sm-12">
					<ul class="nav nav-pills nav-justified">
						<li><a {% if user.is_authenticated %} href="{% url 'basics:home' %}" {% else %} href="{% url 'basics:login' %}" {% endif %}>Act of Goods</a></li>
						<li><a href="{% url 'basics:privacy' %}">Privacy</a></li>
                        <li><a {% if user.is_authenticated %} href="{% url 'basics:contact_us' %}">Contact Us</a></li> {% else %} href="{% url 'basics:aboutus' %}">About Us</a></li> {% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	</body>
	<script>
	(function (React, ReactDOM, window, document, MDL) {
	  'use strict';


	  var BadgeContainer = React.createClass({
	    displayName: 'RoomsContainer',

	    getInitialState: function getInitialState() {
	      var rooms = eval({{channels|safe}})
				var roomname = '{{roomname}}'
				var dic = {}
	      //console.log(rooms)
	      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
	      for(var i=0;i<rooms.length;i++){
	        name = rooms[i]['hash'];
					if (name === roomname){
						console.log(name + "fuck")
						continue;
					}
	        console.log(name);
	        var url = ws_scheme + '://' + window.location.host + "/chat/" + name + '?username={{request.user.username}}';
	        var socket = new WebSocket(url);
					dic[name] = socket;


	        socket.onmessage = function(message) {
						  var room = JSON.parse(message.data)['room'];
	            this.setState({
	              new_count:this.state.new_count+1
	            });

							var socket = dic[room];
							socket.close();
	        }.bind(this);

	      }
	      return {
	        new_count:{{new_messages|safe}}
	      };
	    },


	    render: function render(){
	      if(this.state.new_count > 0){

		      return React.createElement(
						'span',
						{className:'badge'},
						this.state.new_count
					);
				}
				else{
					return null;
				}
	  	}
		});
	  ReactDOM.render(React.createElement(BadgeContainer, null), document.getElementById('badge-container'));
	})(React, ReactDOM, window, document, componentHandler);
</script>
</html>
