{% extends 'basics/base.html' %}

{% block content %}
<!-- Introduction Row -->
	<div id="standard-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Change Your Password</h1>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8">
				    {% csrf_token %}
					{% if change == True %}
					<p> couldn't change password, please try again </p>
					{% endif %}
    					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "old password"  name="oldpw" >
					</div>

					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "new password"  name="newpw1" >
					</div>

					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "repeat"  name="newpw2" >
					</div>

					<div class="form-group">
					<input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Save"/>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
