{% extends 'basics/base.html' %}

{% block content %}

{% load staticfiles %}


    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.blue_grey-blue.min.css" />
    <link rel="stylesheet" href="{% static 'basics/css/styles.css' %}">
    <script src="https://fb.me/react-15.0.2.js"></script>
    <script src="https://fb.me/react-dom-15.0.2.js"></script>
    <script src="https://code.getmdl.io/1.1.3/material.min.js"></script>

  <body>
  <div class = "row " style="box-shadow: 0 0 30px black; height:70%; border-radius: 1em;" >
    <!--<div class="col-md-4">
      <div class="card card-block">
        <h4 class="card-title">Card title</h4>

          {% for room in rooms%}

          <div class="row">
            <div class="col-sm-12">
                <div class="card card-block">
                  <h3 class="card-title">{{room.need.headline}}</h3>
                  <p class="card-text">{{room.user_req}}</p>
                  <a href="{% url 'basics:chat_room' roomname=room.name %}" class="btn btn-primary">Go here</a>
                </div>
            </div>
          </div>
          {% endfor %}
      </div>
      <a href="{% url 'basics:kick_user' roomname=roomname %}" class="btn btn-primary">Kick User</a>
    </div>-->
    <div class="col-md-4 col-xs-12" style="background-color: #d1d1d1; height:100%">
      <div class="card card-block" >
        <h4 class="card-title">Your Chats</h4>
          <div id="rooms-container">
          </div>
      </div>
      <a id="standard-grey-button-bold" href="{% url 'basics:kick_user' roomname=roomname %}" class="btn btn-primary">Kick User</a>
    </div>
    <div class="col-md-8 col-xs-12" id="app"></div>
    </div>
    <script>
'use strict';

(function (React, ReactDOM, window, document, MDL) {
  'use strict';

  var LoadingBar = function LoadingBar(props) {
    return React.createElement('div', { className: 'mdl-progress mdl-js-progress mdl-progress__indeterminate' });
  };

  var Message = function Message(props) {
    var classString = props.ownMessage ? 'own ' : '';
    return React.createElement(
      'div',
      { className: classString + 'message clearfix' },
      React.createElement(
        'div',
        { className: 'message__author' },
        props.ownMessage ? 'You' : 'Other'         //props.author
      ),
      React.createElement('div', { className: 'message__avatar' }),
      React.createElement(
        'div',
        { className: classString + 'message__text' },
        props.text,
        React.createElement(
          'div',
          { className: "small-text"},
          props.date
        )
      )

    );
  };

  var MessageList = React.createClass({
    displayName: 'MessageList',


    componentDidUpdate: function componentDidUpdate() {
      this.messageList.scrollTop = this.messageList.scrollHeight;
    },

    getNodeRef: function getNodeRef(ref) {
      this.messageList = ref;
    },

    render: function render() {
      return React.createElement(
        'div',
        { className: 'message-list', ref: this.getNodeRef},
        this.props.children
      );
    }
  });

  var InputSection = function InputSection(props) {
    return React.createElement(
      'div',
      { className: props.specificClass + ' clearfix' },
      React.createElement(
        'div',
        { className: 'mdl-textfield mdl-js-textfield mdl-textfield--floating-label float-left' },
        React.createElement('input', {
          onKeyDown: props.handleKeyDown,
          className: 'mdl-textfield__input',
          type: 'text',
          id: 'chat-input',
          value: props.inputValue,
          onChange: props.handleChange,
          onBlur: props.handleBlur }),
        React.createElement(
          'label',
          { className: 'mdl-textfield__label' },
          props.labelText
        )
      ),
      React.createElement(
        'div',
        { className: 'float-right button-container' },
        React.createElement(
          'button',
          {
            onClick: props.handleClick,
            className: 'btn btn-primary',
            type: 'submit' },
          props.buttonText
        )
      )
    );
  };

  /*var ChannelSelector = React.createClass({
    displayName: 'ChannelSelector',


    getInitialState: function getInitialState() {
      return {
        channel: this.props.currentChannel
      };
    },

    handleChange: function handleChange(e) {
      this.setState({
        channel: e.target.value
      });
    },

    changeChannel: function changeChannel() {
      if (this.state.channel === '') {
        return;
      }
      this.props.handleChatChange(this.state.channel);
    },

    resetInput: function resetInput() {
      this.setState({
        channel: this.props.currentChannel
      });
    },

    handleKeyDown: function handleKeyDown(e) {
      switch (e.keyCode) {
        case 13:
          e.preventDefault();
          this.changeChannel();
          e.target.blur();
          break;
        case 27:
          e.preventDefault();
          this.resetInput();
          e.target.blur();
          break;
        case 32:
          e.preventDefault();
          break;
        default:
          return;
      }
    },

    render: function render() {
      return React.createElement(InputSection, {
        specificClass: 'chat-name',
        handleKeyDown: this.handleKeyDown,
        inputValue: this.state.channel,
        handleChange: this.handleChange,
        labelText: 'Currently connected to channel',
        handleClick: this.changeChannel,
        buttonText: 'Connect'
      });
    }
  });
  */

  var MessageEditor = React.createClass({
    displayName: 'MessageEditor',


    getInitialState: function getInitialState() {
      return {
        message: ''
      };
    },

    handleChange: function handleChange(e) {
      this.setState({
        message: e.target.value
      });
    },

    sendMessage: function sendMessage(e) {
      this.props.sendMessage(this.state.message);
      this.setState({
        message: ''
      });
    },

    handleKeyDown: function handleKeyDown(e) {
      switch (e.keyCode) {
        case 13:
          e.preventDefault();
          if (this.state.message === '') {
            return;
          }
          this.sendMessage();
          break;
        default:
          return;
      }
    },

    render: function render() {
      return React.createElement(InputSection, {
        specificClass: 'form-container',
        handleKeyDown: this.handleKeyDown,
        inputValue: this.state.message,
        handleChange: this.handleChange,
        labelText: 'Enter your message...',
        handleClick: this.sendMessage,
        buttonText: 'Send message'
      });
    }

  });

  var ChatContainer = React.createClass({
    displayName: 'ChatContainer',


    getInitialState: function getInitialState() {
      console.log({{messages|safe}})
      return {
        channel: '{{roomname}}'||'Actofgoods',
        connected: false,
        messages: {{messages|safe}},
        author: '',
        name:'{{name}}'
      };
    },

    socket: null,

    createSocket: function createSocket() {

      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var url = ws_scheme + '://' + window.location.host + "/chat/" + this.state.channel + '?username=' + this.state.author;
      this.socket = new WebSocket(url);

      window.chatSocket = this.socket;

      this.socket.addEventListener('message', function (e) {
        this.sendMessage("ack");
        console.log("ack for message "+ JSON.parse(e.data));
        this.setState({
          messages: this.state.messages.concat(JSON.parse(e.data))
        });
      }.bind(this));

      this.socket.addEventListener('open', function () {
        this.setState({
          connected: true
        });
      }.bind(this));

      this.socket.addEventListener('close', function () {
        this.setState({
          connected: false
        }, this.createSocket);
      }.bind(this));
    },

    closeSocket: function closeSocket() {
      this.socket.close();
    },

    componentWillMount: function componentWillMount() {
      var author = '{{request.user.username}}';
      this.setState({
        author: author
      });
    },

    componentDidMount: function componentDidMount() {
      this.createSocket();

      this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';

      window.addEventListener('resize', function () {
        this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';
      }.bind(this));

      MDL.upgradeDom();
    },

    componentDidUpdate: function componentDidUpdate() {
      this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';

      MDL.upgradeDom();
    },

    sendMessage: function handleMessageSend(message) {
      this.socket.send(message);
    },

    handleChatChange: function handleChatChange(newChannelName) {
      if (newChannelName === this.state.channel) {
        return;
      }
      this.setState({
        messages: [],

        channel: newChannelName
      }, this.closeSocket);
    },

    getNodeRef: function getNodeRef(ref) {
      this.chatBox = ref;
    },

    render: function render() {
      var messages = this.state.messages.map(function (message, index) {
        return React.createElement(Message, {
          ownMessage: message.username === this.state.author ? true : false,
          text: message.message,
          author: message.username,
          date: message.date,
          key: index });
      }.bind(this));

      var visibilityClass = !this.state.connected ? 'hidden' : '';

      return React.createElement(
        'div',
        { className: ' mdl-cell--stretch', ref: this.getNodeRef },
        !this.state.connected ? React.createElement(LoadingBar, null) : null,
        React.createElement(
          'h4',
          {},
          this.state.name
        ),
        React.createElement(
          MessageList,
          null,
          messages
        ),
        React.createElement(
          'div',
          { className: 'actions-containers mdl-shadow--3dp ' + visibilityClass },
          /*React.createElement(ChannelSelector, {
            currentChannel: this.state.channel,
            handleChatChange: this.handleChatChange }),*/
          React.createElement(MessageEditor, { sendMessage: this.sendMessage })
        )
      );
    }

  });

  var Room = function Room(props){
    return React.createElement(
      'a',
      {className:'goupe-list-element ', id:'standard-list-group-item-div', href:"/chat/"+props['room']['hash'] },
      React.createElement(
        'div',
          {className:'col-sm-11 col-xs-3 grey room',  id:'standart-modal'},
        React.createElement(
          'div',
          {className:''},
          React.createElement(
            'div',
            {className:'card card-block'},
            React.createElement(
              'h3',
              {className:'card-title'},
              props['room']['name']
            ),
            React.createElement(
              'p',
              {className:'card-text'},
              props['room']['date']
            )
          )
        )
      )
    )
  };
  var RoomsContainer = React.createClass({
    displayName: 'RoomsContainer',

    getInitialState: function getInitialState() {
      var rooms = eval({{rooms_json|safe}})
      console.log(rooms)
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      for(var i=0;i<rooms.length;i++){
        name = rooms[i]['hash'];
        console.log(name);
        var url = ws_scheme + '://' + window.location.host + "/chat/" + name + '?username={{request.user.username}}';
        var socket = new WebSocket(url);

        socket.onmessage = function(message) {
            var j = 0;
            var room = JSON.parse(message.data)['room'];
            for(j=0;j<rooms.length;j++){
              console.log(rooms[j]['hash'], room);
              if(rooms[j]['hash'] === room){
                //TODO: Change value of date; we need some sort of flag for messages if they where read
                break;
              }
            };

            rooms.unshift(rooms.splice(j,1)[0]);
            console.log(rooms);
            this.setState({
              rooms:rooms
            });
        }.bind(this);
      }
      return {
        rooms: rooms
      };
    },


    render: function render() {
      var rendered_rooms = []
      for(var i =0;i<this.state.rooms.length;i++){
        rendered_rooms.push(React.createElement(Room, {key:i, room:this.state.rooms[i], handleClick:this.handleClick}))
      }
      return React.createElement(
        'div',
        { className: 'room-container room-container-small', ref: this.getNodeRef },
        rendered_rooms
      );
    }
  })
  //Initialisiere 2 Chats

  var App = React.createClass({
    displayName: 'App',

    getInitialState: function getInitialState() {
      return {
        chats: 1,
        chatContainer: null
      };
    },

    alert_some : function alert_some(){
      alert("fuckers")
    },

    render: function render() {
      this.state.chatContainer = React.createElement(ChatContainer, { key: 0 });
      return React.createElement('div',{ className: '' } ,this.state.chatContainer)
    }
  });

  ReactDOM.render(React.createElement(App, null), document.getElementById('app'));
  ReactDOM.render(React.createElement(RoomsContainer, null), document.getElementById('rooms-container'));
})(React, ReactDOM, window, document, componentHandler);

  window.onbeforeunload = function(){
    var val = $("#chat-input").val();
    console.log(val);
    if($("#chat-input").val() != ""){
      return 'Are you sure you want to leave?';
    }
  };
</script>



</script>
  </body>

{% endblock %}
