{% extends 'basics/base.html' %}

{% block content %}
{% load filter %}
{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'basics/css/styles.css' %}"/>
    <script src="https://fb.me/react-15.0.2.js"></script>
    <script src="https://fb.me/react-dom-15.0.2.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.34/browser.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

  <body>
  <!--<div class = "row " style="min-height: 500px; box-shadow: 0 0 30px black; height:70%; border-radius: 1em;" >-->


<style>
    .not-active {
        pointer-events: none;
        cursor: default;

    }
    #chat-css-container {
        margin-left: 0px;
        margin-right: 0px;
        border: 1px solid #ddd;
        border-radius: 4px;
        background-color: #EDEDED;
    }

    #chats-css-container {
        border-right: 1px solid #ddd;
        background-color: #EDEDED;
    }

    #chat-room-css-container {
        border-left: 1px solid #ddd;
        margin-left: -1px;
        background-color: #FAFAFA;
    }

    #header-css-chat {
        border-bottom: 1px solid #ddd;
        background-color: #EDEDED;
        margin-right: -16px;
        padding: 10px 15px;
        text-align: center;
    }

    #header-css-chats {
        border-bottom: 1px solid #ddd;
        background-color: #EDEDED;
        margin-left: -15px;
        margin-right: -15px;
        padding: 10px 15px;
        text-align: left;
    }

    #footer-chat-container {
        background-color: #EDEDED;
        margin-right: -16px;
        border-top: 1px solid #ddd;
    }

    #header-css-description-container {
        text-align: left;
        padding: 0px;
    }

    #header-css-chat-description {
        margin-bottom: 0px;
    }

    #header-css-button-container, #header-css-middle-button-container {
        padding: 0px;
    }

    #chat-info-container {
        margin-top: 10px;
    }

    #chat-input-container{
        margin-bottom: 15px;
        margin-top: 15px;
    }

    #send-button-container {
        margin-bottom: 15px;
    }

    #chat-send-number-container {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #chat-mesage-container {
        margin-bottom: 15px;
        margin-top: 10px;
        margin-left: -15px;
        margin-right: -15px;
        height: 60%;
        overflow-y: scroll;
    	overflow-x: hidden;
    }

    #rooms-container {
        margin-top: 15px;
        margin-bottom: 15px;
        background-color: #EDEDED;
        position: relative;
    	overflow-y: scroll;
    	overflow-x: hidden;
    	height: 80%;
    }

    #standard-list-group-item-div {
        color: #70962c;
    }

    #chats-date-headline {
        color: #000000;
    }

/*---------- start Messages ----------*/

#chat-list-group-item-div-right {
    background-color: #DDE6CD;
}

#chat-list-group-item-div-left {
    background-color: #EDEDED;
}

#chat-list-group-item-div-middle {
    background-color: #E1E1E1;
    text-align: center;
    margin-bottom: 15px;
}

#chat-message-timestamp {
    margin-bottom: 0px;
}

/* left arrow */
.message-panel-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #DDD;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 10px;
}

/* right arrow */
.message-panel-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #ddd;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 10px;
}

#left-message-block {
    padding-left: 30px;
    margin-bottom: 15px;
}

#right-message-block {
    padding-right: 30px;
    margin-bottom: 15px;
}

/*---------- end Messages ----------*/

    @media(max-width: 992px) {

        #chats-css-container {
            border-right: 0px;
            border-bottom: 1px solid #ddd;
        }

        #chat-room-css-container {
            border-left: 0px;
            margin-left: 0px;
        }

        #header-css-chat {
            margin-right: -15px;
        }

        #footer-chat-container {
            margin-right: -15px;
        }

        #rooms-container {
        	height: 50%;
        }

    }

    @media(max-width:768px) {

        #header-css-chat-description, #header-css-middle-button-container {
            margin-bottom: 10px;
        }

        #rooms-container {
            margin-left: -10px;
            margin-right: -10px;
        }

    }
</style>


        <div id="standard-modal"  >
          <div class="modal-content">
            <div class="modal-header">
              <h2 class="text-center" id="standard-modal-headline">Chat<br><small>On this page you can communicate with other user.</small></h2>
            </div>
            <div class="modal-body">
                <div class="row" id="chat-css-container">
                    <div class="col-md-4" id="chats-css-container">
                        <div className="row" id="header-css-chats">
                            <p style="margin-bottom: 0px;">Your chats:</p>
                        </div>
                        <div id="rooms-container"></div>
                    </div>
                    <div class="col-md-8" id="chat-room-css-container">
                        <div id="app"></div>
                    </div>
                </div>
                </div>
            </div>
          </div>

          <div class="modal fade need-modal" id="need-modal" role="dialog" aria-labelledby="request" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                          <h2 style="word-wrap: break-word;">{{room.need.headline}}</h2>
                          <h6><i>from {{ room.need.date }} in category {{ room.need.categorie.name }} {% if room.need.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=elem.group.name %}">{{ room.need.group.name }}</a>{% elif room.need.author == user %} by <span>you</span>{% endif %}</i></h6>
                      </div>
                      <div class="modal-body">
                          <p style="word-wrap: break-word;">{{ room.need|get_short_text:512|linebreaksbr }}</p>
                      </div>
                      <div class="modal-footer">
                          <button id="standard-grey-button-light" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                      </div>
                  </div>
              </div>
          </div>

  <script type="text/babel">
'use strict';

(function (React, ReactDOM, window, document, MDL) {
  'use strict';

  var LoadingBar = function LoadingBar(props) {
    return React.createElement('div', { className: 'mdl-progress mdl-js-progress mdl-progress__indeterminate' });
  };


  var Message = function Message(props) {
    var classOwnOtherSystem = props.ownMessage ? 'col-xs-10 col-xs-offset-2' : 'col-xs-10';
    classOwnOtherSystem = props.systemMessage ? 'col-xs-8 col-xs-offset-2': classOwnOtherSystem;
    var idLeftRightMiddleMessage = props.ownMessage ? 'right-message-block' : 'left-message-block';
    idLeftRightMiddleMessage = props.systemMessage ? 'middle-message-block': idLeftRightMiddleMessage;
    var classLeftRightMiddlePanel = props.ownMessage ? 'message-panel-right' : 'message-panel-left';
    classLeftRightMiddlePanel = props.systemMessage ? 'message-panel-middle': classLeftRightMiddlePanel;
    classLeftRightMiddlePanel = "list-group-item " + classLeftRightMiddlePanel
    var chatListGroupItemDiv = props.ownMessage ? 'chat-list-group-item-div-right' : 'chat-list-group-item-div-left';
    chatListGroupItemDiv = props.systemMessage ? 'chat-list-group-item-div-middle': chatListGroupItemDiv;
    return (

        <div className="row">
            <div className={classOwnOtherSystem} id={idLeftRightMiddleMessage}>
                <div className={classLeftRightMiddlePanel} id={chatListGroupItemDiv}>
                    <div className="row">
                        <div className="col-sm-12">
                            <p className="list-group-item-text">{props.text}</p>
                            <h6 id="chat-message-timestamp"><i>{props.date}</i></h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    );
  };

  var MessageList = React.createClass({
    displayName: 'MessageList',


    componentDidUpdate: function componentDidUpdate() {
      this.messageList.scrollTop = this.messageList.scrollHeight;
    },

    getNodeRef: function getNodeRef(ref) {
      this.messageList = ref;
    },

    render: function render() {
      return (
        <div id="chat-mesage-container" className="message-list" ref={this.getNodeRef}>
          {this.props.children}
        </div>
      );
    }
  });

  var InputSection = function InputSection(props) {
    return (

        <div className="row" id="footer-chat-container">
            <div className="col-sm-12" id="chat-input-container">
                <textarea onKeyDown= {props.handleKeyDown}
                className= 'form-control input-lg'
                type= 'text'
                id= 'chat-input'
                rows='3'
                value= {props.inputValue}
                onChange= {props.handleChange}
                onBlur= {props.handleBlur}
                placeholder={props.labelText}
                required/>
            </div>
            <div className="col-sm-4 col-sm-offset-8 {% if room.helper_out %}not-active {% endif %}" id="send-button-container">
                <button onClick={props.handleClick}
                className= 'btn btn-primary btn-block'
                id="standard-grey-button-light"
                type= 'submit' >
                    <span className="glyphicon glyphicon-send"></span> {props.buttonText}
                </button>
            </div>
            <div className="col-sm-4 {% if room.helper_out or not request.user|has_number %}not-active {% endif %}" id="chat-send-number-container" onClick={props.sendNumber.bind(null, 'number')}>
                <a id="standard-grey-button-light" className="btn btn-primary btn-block" >
                    <span className="glyphicon glyphicon-earphone"></span> Send Number
                </a>
            </div>
        </div>

    );
  };


  var MessageEditor = React.createClass({
    displayName: 'MessageEditor',


    getInitialState: function getInitialState() {
      return {
        message: ''
      };
    },

    handleChange: function handleChange(e) {
      this.setState({
        message: e.target.value
      });
    },

    sendMessage: function sendMessage(e) {
      this.props.sendMessage(this.state.message);
      this.setState({
        message: ''
      });
    },

    handleKeyDown: function handleKeyDown(e) {
      switch (e.keyCode) {
        case 13:
          e.preventDefault();
          if (this.state.message === '') {
            return;
          }
          this.sendMessage();
          break;
        default:
          return;
      }
    },

    render: function render() {
      return React.createElement(InputSection, {
        specificClass: 'form-container',
        handleKeyDown: this.handleKeyDown,
        inputValue: this.state.message,
        handleChange: this.handleChange,
        labelText: 'Enter your message...',
        handleClick: this.sendMessage,
        buttonText: 'Send Message',
        sendNumber: this.props.sendNumber
      });
    }

  });


  var ChatContainer = React.createClass({
    displayName: 'ChatContainer',


    getInitialState: function getInitialState() {
      console.log({{messages|safe}})
      return {
        channel: '{{roomname}}'||'Actofgoods',
        connected: false,
        messages: {{messages|safe}},
        author: '',
        name:'{{name}}'
      };
    },

    socket: null,

    createSocket: function createSocket() {

      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      var url = ws_scheme + '://' + window.location.host + "/chat/" + this.state.channel + '?username=' + this.state.author;
      this.socket = new WebSocket(url);

      window.chatSocket = this.socket;

      this.socket.addEventListener('message', function (e) {
        this.sendMessage("ack");
        console.log("ack for message "+ JSON.parse(e.data));
        this.setState({
          messages: this.state.messages.concat(JSON.parse(e.data))
        });
      }.bind(this));

      this.socket.addEventListener('open', function () {
        this.setState({
          connected: true
        });
      }.bind(this));

      this.socket.addEventListener('close', function () {
        this.setState({
          connected: false
        }, this.createSocket);
      }.bind(this));
    },

    closeSocket: function closeSocket() {
      this.socket.close();
    },

    componentWillMount: function componentWillMount() {
      var author = '{{request.user.username}}';
      this.setState({
        author: author
      });
    },

    componentDidMount: function componentDidMount() {
      this.createSocket();

      this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';

      window.addEventListener('resize', function () {
        this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';
      }.bind(this));

      MDL.upgradeDom();
    },

    componentDidUpdate: function componentDidUpdate() {
      this.chatBox.querySelector('.message-list').style.bottom = this.chatBox.querySelector('.actions-containers').offsetHeight + 'px';

      MDL.upgradeDom();
    },

    sendMessage: function handleMessageSend(message) {
      this.socket.send(message);
    },

    handleChatChange: function handleChatChange(newChannelName) {
      if (newChannelName === this.state.channel) {
        return;
      }
      this.setState({
        messages: [],

        channel: newChannelName
      }, this.closeSocket);
    },

    sendNumber: function sendNumber(number) {
      if(this.socket != null){
        this.sendMessage(number);
      };
    },

    getNodeRef: function getNodeRef(ref) {
      this.chatBox = ref;
    },

    render: function render() {
      var messages = this.state.messages.map(function (message, index) {
        return React.createElement(Message, {
          ownMessage: message.username === this.state.author ? true : false,
          systemMessage: message.username === 'null',
          text: message.message,
          author: message.username,
          date: message.date,
          key: index });
      }.bind(this));
      console.log(messages);
      var visibilityClass = !this.state.connected ? 'hidden' : '';
      return (
        <div className="mdl-cell--stretch" ref={this.getNodeRef}>
          {!this.state.connected ? React.createElement(LoadingBar, null) : null}

          <div className="row" id="header-css-chat">
              <a className="col-sm-7" id="header-css-description-container "  data-toggle="modal" data-target="#need-modal" type="button">
                  <p id="header-css-chat-description">Chat: {{name}}</p>
              </a>

              <a className="list-group-footer-button cursor-pointer {% if room.helper_out %}not-active {% endif %}"  type="button" href="{% url 'basics:needs_finish' roomname=roomname %}">
                  <div className="col-sm-2" id="header-css-middle-button-container">
                      <span className="glyphicon glyphicon-ok"></span> Done
                  </div>
              </a>
              <a className="list-group-footer-button cursor-pointer {% if room.helper_out %}not-active {% endif %}" type="button" href="{% url 'basics:kick_user' roomname=roomname %}">
                  <div className="col-sm-3" id="header-css-button-container">
                      <span className="glyphicon glyphicon-log-out"></span> {% if roomname|is_own:request.user %} Kick User {% else %} Leave Chat {% endif %}
                  </div>
              </a>
          </div>
          <div className="row">
            <div className="col-sm-8" id="chat-info-container">
                <p><i> {% if roomname|is_own:request.user %} You are getting help TODO{% else %} You are helping TODO{% endif %}</i></p>
            </div>

          </div>

          <MessageList>
            {messages}
          </MessageList>

          <div className="actions-containers ">
            <MessageEditor sendMessage={this.sendMessage} sendNumber={this.sendNumber}></MessageEditor>
          </div>

        </div>
      );
    }

  });

  var Room = function Room(props){
    var href = "/chat/"+props['room']['hash'];
    var new_msg;
    if (props['room']['new']==="true")
    {
      new_msg=(<span className="badge">new</span>)
    }
    return (
        <a className="list-group-item" id="standard-list-group-item-div" href={href}>
            <div className="row">
                <div className="col-sm-12">
                    <h4 >{props['room']['name']}</h4>
                </div>
                <div className="col-sm-12">
                    <h5 >{props['room']['last_message']}{new_msg}</h5>
                </div>
                <div className="col-sm-12">
                    <h6 id="chats-date-headline">{props['room']['date']}</h6>
                </div>
            </div>
        </a>
    );
  };
  var RoomsContainer = React.createClass({
    displayName: 'RoomsContainer',

    getInitialState: function getInitialState() {
      var rooms = eval({{rooms_json|safe}})
      console.log(rooms)
      var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
      for(var i=0;i<rooms.length;i++){
        name = rooms[i]['hash'];
        console.log(name);
        var url = ws_scheme + '://' + window.location.host + "/chat/" + name + '?username={{request.user.username}}';
        var socket = new WebSocket(url);

        socket.onmessage = function(message) {
            var j = 0;

            var room = JSON.parse(message.data);
            for(j=0;j<rooms.length;j++){
              console.log(rooms[j]['hash'], room['room']);
              if(rooms[j]['hash'] === room['room']){
                //TODO: Change value of date; we need some sort of flag for messages if they where read
                break;
              }
            };
            rooms.splice(j,1)[0];
            rooms.unshift(room);
            console.log(rooms);
            this.setState({
              rooms:rooms
            });
        }.bind(this);
      }
      return {
        rooms: rooms
      };
    },


    render: function render() {
      var rendered_rooms = []
      for(var i =0;i<this.state.rooms.length;i++){
        rendered_rooms.push(React.createElement(Room, {key:i, room:this.state.rooms[i], handleClick:this.handleClick}))
      }
      return (
        <div className="room-container" ref={this.getNodeRef}>
          {rendered_rooms}
        </div>
      );

    }
  })
  //Initialisiere 2 Chats

  var App = React.createClass({
    displayName: 'App',

    getInitialState: function getInitialState() {
      return {
        chats: 1,
        chatContainer: null
      };
    },

    alert_some : function alert_some(){
    },

    render: function render() {
      this.state.chatContainer = React.createElement(ChatContainer, { key: 0 });
      return (
        <div>
          {this.state.chatContainer}
        </div>
      );//React.createElement('div',{ className: '' } ,this.state.chatContainer);
    }
  });

  ReactDOM.render(React.createElement(App, null), document.getElementById('app'));
  ReactDOM.render(React.createElement(RoomsContainer, null), document.getElementById('rooms-container'));
})(React, ReactDOM, window, document, componentHandler);

  window.onbeforeunload = function(){
    var val = $("#chat-input").val();
    console.log(val);
    if($("#chat-input").val() != ""){
      return 'Are you sure you want to leave?';
    }
  };
</script>



</script>
  </body>

{% endblock %}
