{% extends 'basics/base.html' %}
{% block content %}

<div id="standard-modal">
	<div class="modal-content">
		<div class="modal-header">
			<h2 class="text-center" id="standard-modal-headline">Contact Us<br><small>Use this form for every question you have.</small></h2>
		</div>
		<div class="modal-body">
			<form class="form" role="form" method="post" accept-charset="UTF-8">
			{%csrf_token%}
                {% if messages %}
		            {% for message in messages %}
		                {% if message.message == 'wrong_email' %}
		                    <div class="error-messages">
		                        <p>Wrong E-Mail!</p>
		                    </div>
		                {% endif %}
		            {% endfor %}
		        {% endif %}
		        {% if messages %}
		            {% for message in messages %}
		                {% if message.message == 'empty_email' %}
		                    <div class="error-messages">
		                        <p>Please type in an E-Mail!</p>
		                    </div>
		                {% endif %}
		            {% endfor %}
		        {% endif %}
				<div class="form-group">
                    <h4>Enter your email address: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="Please enter your email address in order to receive an answer. It will only be used for this specific purpose!"><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
  					<input type="email" class="form-control input-lg" placeholder="Email" name="email" maxlength="255" required/>
  				</div>
                {% if messages %}
		            {% for message in messages %}
		                {% if message.message == 'no_headline' %}
		                    <div class="error-messages">
		                        <p>Please type in an headline!</p>
		                    </div>
		                {% endif %}
		            {% endfor %}
		        {% endif %}
				<div class="form-group">
                    <h4>Enter a headline: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="Give a clear, short overview of your question or request."><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                    <input type="description" class="form-control input-lg" placeholder="Headline" name="headline" maxlength="30" required></input>
				</div>
                {% if messages %}
		            {% for message in messages %}
		                {% if message.message == 'no_description' %}
		                    <div class="error-messages">
		                        <p>Please type in an description!</p>
		                    </div>
		                {% endif %}
		            {% endfor %}
		        {% endif %}
				<div class="form-group">
                    <h4>Write a description:</h4>
					<textarea type="description" class="form-control input-lg" placeholder="Description" name="text" rows="4" required></textarea>
				</div>
				<div class="form-group">
                    <div class="row">
                        <div class="col-sm-2 col-sm-offset-10">
        					<input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Send"/>
                        </div>
                    </div>
				</div>
			</form>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}
