{% extends 'basics/base.html' %}
{% load filter %}
{% block content %}
<style>

.list-group-footer {
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    background-color: #EDEDED;
}

.list-group-footer-button {
    color: #70962c;
}

.list-group-footer-button:hover {
    color: #bbd153;
    text-decoration:none;
}

@media(max-width:768px) {

    #list-group-footer-button-margin {
        margin-bottom: 10px;
    }

}

.pagination {
    margin: 0px;
}

#pagination-left-right {
    padding: 0.5em 0.5em;
    color: #70962c;
}

#pagination-left-right:hover {
    background-color: #EDEDED;
}

#pagination-number {
    height: calc(2em + 2px);
    border: 1px solid #ddd;
    background-color: #FFFFFF;
    color: #70962c;
}

#pagination-number:hover {
    background-color: #EDEDED;
}

#pagination-number-active{
    height: calc(2em + 2px);
    border: 1px solid #ddd;
    background-color: #EDEDED;
    color: #70962c;
}

#member-of-organisation {
    margin-top: 35px;
    margin-bottom: 20px;
    padding: 0px;
}

#add-member-input-without-addon {
    display: none;
}

#header-organisation-detail {
    border: 1px solid #ddd;
    border-bottom: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #EDEDED;
    margin: 0px;
    padding: 10px 15px;
    text-align: center;
}

@media(max-width:768px){

    #member-of-organisation {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    #add-member-input {
        margin-bottom: 15px;
    }

    #add-member-input-with-addon {
        display: none;
    }

    #add-member-input-without-addon {
        display: block;
    }

    #heading-button-over-last {
        margin-bottom: 15px;
    }

}

</style>


<div id="standard-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="text-center" id="standard-modal-headline">{{group.name}}<br><small>This organisation represents a {% if group.is_GO %} governmental organisation. {% else %} nongovernmental organisation. {% endif %}</small></h2>
        </div>
        <div class="modal-body">
            <div class="modal fade" id="groupLeave" role="dialog">
                            <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Leave This Group</h4>
                                 </div>
                                <div class="modal-body">
                                    <p>If you leave this group, you will not be able to become a member unless you are invited again!</p>
                                    <p>Would you like to rethink your decision?</p>
                                </div>
                                 <div class="modal-footer">
                                     <a id="standard-grey-button-light" type="button" class="btn btn-default"  href="{% url 'basics:group_leave' pk=group.pk %}">

                                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                                </a>
                                    <button id="standard-grey-button-light" type="button" class="btn btn-default"  data-dismiss="modal">Rethink</button>
                                 </div>
                            </div>

                            </div>
                            </div>



            <div class="row" style="margin-top: 15px;">
                <div class="col-sm-12">
                    <div class="row" id="header-organisation-detail">
                        <a class="list-group-footer-button cursor-pointer" type="button" href="{% url 'basics:claim' name=group.name%}">
                            <div class="col-sm-4" id="heading-button-over-last">
                                <span class="glyphicon glyphicon-globe"></span> Claimed Areas
                            </div>
                        </a>
                        <a id="button1" class="list-group-footer-button cursor-pointer" type="button" href="{% url 'basics:group_edit' pk=group.pk %}">
                            <div class="col-sm-4" id="heading-button-over-last">
                                <span class="glyphicon glyphicon-pencil"></span> Edit Profile
                            </div>
                        </a>
                        <a id="button3" class="list-group-footer-button cursor-pointer" type="button" data-toggle="modal" data-target="#groupLeave" >
                            <div class="col-sm-4">
                                <span class="glyphicon glyphicon-log-out"></span> Leave Organisation
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="list-group-item" id="standard-list-group-item-white-div" style="padding-top: 30px; margin-bottom: 15px;">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <p id="description-label">Organisation:</p>
                            </div>
                            <div class="col-sm-8">
                                <p id="description-text">{{group.name}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <p id="description-label">Homepage:</p>
                            </div>
                            <div class="col-sm-8">
                                {% if group.webpage %}
                                    <p id="description-text"><a id="green-link" href="{{group.webpage}}" target="_blank">{{group.webpage}}</a></p>
                                {% else %}
                                    <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add homepage</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <p id="description-label">Email:</p>
                            </div>
                            <div class="col-sm-8">
                                {% if group.email %}
                                    <p id="description-text">{{group.email}}</p>
                                {% else %}
                                    <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add Email address</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <p id="description-label">Phone Number:</p>
                            </div>
                            <div class="col-sm-8">
                                {% if group.phone %}
                                    <p id="description-text">{{group.phone}}</p>
                                {% else %}
                                    <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add phone number</a></p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% if not group.description %}
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-sm-4">
                                    <p id="description-label">Description:</p>
                                </div>
                                <div class="col-sm-8">
                                    <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add description</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {% if group.description %}
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="description-label">Description:</p>
                        </div>
                    </div>
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-sm-12">
                            <p id="description-text">{{group.description | linebreaks }}</p>
                        </div>
                    </div>
                {% endif %}
                {% if group.address %}
                    <div class="row">
                        <div class="col-sm-12">
                            <p id="description-label">Location of Head Office:</p>
                            <div id="map-container" style="height: 40%; margin-top: 15px; margin-bottom: 20px; border: 1px solid #ddd;"></div>
                        </div>
                    </div>
                {% else %}
                    <div class="row" style="margin-bottom: 15px;">
                        <div class="col-sm-4">
                            <p id="description-label">Location of Head Office:</p>
                        </div>
                        <div class="col-sm-8">
                            <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add the location of the head office</a></p>
                        </div>
                    </div>
                {% endif %}

            </div>

        </div>

        <div style="border-top: 1px solid #ddd;">
            <div class="row" style="margin-left: 0px; margin-right: 0px">
                <div class="col-sm-12" style="margin-top: 15px; margin-bottom: 15px;">
                    <h2 class="text-center" id="standard-modal-headline" style="margin-top: 10px;">Member of {{group.name}}<br><small>Here you can add new member and see a list of all members of this organisation.</small></h2>
                </div>
            </div>
        </div>

        <div style="border-top: 1px solid #ddd;">
            <div class="row" style="margin-left: 0px; margin-right: 0px">
                <div class="col-sm-10 col-sm-offset-1" id="member-of-organisation">
                    <form class="form" role="form" method="post" accept-charset="UTF-8">
                        {%csrf_token%}
                        {% if messages %}
                            {% for message in messages %}

                                {% if message.message == 'wrong_email' %}
                                    <div class="form-group">
                                        <div class="error-messages">
                                            <p>User with this email does not exist!</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="col-sm-8" id="add-member-input">
                            <div class="form-group">
                                <input type="email" class="form-control input-lg" placeholder="Email of new member" name="email" required/>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <input name="add_group_member" id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Add Member"/>
                            </div>
                        </div>
                    </form>
                    <div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 15px; margin-top: 20px;">
                        {% if users %}
                            {% for user in users %}
                                <div class="list-group-item" id="standard-list-group-item-div">
                                    <div class="row">
                                        <div class="col-sm-12">
                                            <p style="margin-bottom: 0px;">{{ user.email }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #ddd;">
            <div class="row" style="margin-left: 0px; margin-right: 0px">
                <div class="col-sm-12" style="margin-top: 15px; margin-bottom: 15px;">
                    <h2 class="text-center" id="standard-modal-headline" style="margin-top: 10px;">Organisations of Act of Goods<br><small>Here you can see a list of all organisations acting in Act of Goods.</small></h2>
                </div>
            </div>
        </div>
        <div style="border-top: 1px solid #ddd;">
            <div class="row" style="margin-left: 0px; margin-right: 0px">
                <div class="col-sm-10 col-sm-offset-1" id="member-of-organisation">
                    <div class="col-sm-10 col-sm-offset-1" style="margin-bottom: 15px;">
                        {% if groups %}
                            {% for groups in groups %}
                                {% if groups != group %}
                                  <a class="list-group-item" id="standard-list-group-item-div" href="{% url 'basics:group_detail_for_user' name=groups.name %}">
                                      <div class="row">
                                          <div class="col-sm-12">
                                              <p style="margin-bottom: 0px;">{{ groups.name }}</p>
                                          </div>
                                      </div>
                                  </a>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAmqqg6nhFweM6hPaowtRZT0kRsHPZSaBA"></script>
<script>

    var map;
    var marker;
    var myCenter=new google.maps.LatLng(51.508742,-0.120850);
    var geocoder;
    var infowindow;
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    function initialize() {
      geocoder = new google.maps.Geocoder()
      var mapProp = {
          center:myCenter,
          zoom:2,
          mapTypeId:google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          panControl:false,
          rotateControl:false,
          mapTypeControl:true,
          streetViewControl: false
      };
      marker=null;

      map = new google.maps.Map(document.getElementById("map-container"),mapProp);

      placeMarker(new google.maps.LatLng(parseFloat("{{ group.address.latitude }}".replace(",", ".")), parseFloat("{{ group.address.longditude }}".replace(",", "."))));
    }

    function placeMarker(location) {
    if(marker){
        infowindow.close();
        marker.setPosition(location);
        geocoder.geocode({'location': location}, function(results, status){
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map,marker);
        })
    }else{
        marker = new google.maps.Marker({
        position: location,
        map: map,
        });
        geocoder.geocode({'location': location}, function(results, status){
            infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
            infowindow.open(map,marker);
        })
        map.setZoom(8);
    }
    map.setCenter(marker.getPosition());
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
