{% extends 'basics/base.html' %}
{% block content %}
		<div class="container">
            <table class = "table table-hover">
                <thead>
                    <tr>
                        <th>Groupname</th>
                        <th>E-Mail</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
	                {% if user.groups %}
	                    {% for group in user.groups.all %}
	                        <tr>
	                            <th>{{ group.name }}</th>
	                            <th>{{ group.email }}</th>
	                            <th>
	                                <a href="{% url 'basics:group_detail' pk=group.pk %}" class="btn btn-warning btn-sm" title="edit">
	                                    <span class="glyphicon glyphicon-pencil"></span>
	                                </a>
	                            </th>
	                        </tr>
	                    {% endfor %}
	                {% endif %}
    	         </tbody>
            </table>
        </div>
{% endblock %}