{% extends 'basics/base.html' %}
{% block content %}

<div class="row">
    <div class="col-sm-12">
        <div id="standard-modal" style="margin-bottom: 0px">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center" id="standard-modal-headline">Profile of {{group.name}}</h2>
                    <h4 class="text-center">This organisation represents a {% if group.is_GO %} governmental organisation. {% else %} nongovernmental organisation. {% endif %}</h4>
                </div>
                <div class="modal-body">
                    <div class="list-group-item" id="standard-list-group-item-white-div" style="padding-top: 30px;">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p id="description-label">Organisation:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <p id="description-text">{{group.name}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p id="description-label">Homepage:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        {% if group.webpage %}
                                            <p id="description-text"><a id="green-link" href="{{group.webpage}}" target="_blank">{{group.webpage}}</a></p>
                                        {% else %}
                                            <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add homepage</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin-bottom: 15px;">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p id="description-label">Email:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        {% if group.email %}
                                            <p id="description-text">{{group.email}}</p>
                                        {% else %}
                                            <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add Email address</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <p id="description-label">Phonenumber:</p>
                                    </div>
                                    <div class="col-sm-8">
                                        {% if group.phone %}
                                            <p id="description-text">{{group.phone}}</p>
                                        {% else %}
                                            <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add phonenumber</a></p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% if not group.description %}
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <p id="description-label">Description:</p>
                                        </div>
                                        <div class="col-sm-8">
                                            <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add description</a></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}

                        {% if group.description %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p id="description-label">Description:</p>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-sm-12">
                                    <p id="description-text">{{group.description | linebreaks }}</p>
                                </div>
                            </div>
                        {% endif %}
                        {% if group.address %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <p id="description-label">Location of Head Office:</p>
                                    <div id="map-container" style="height: 40%; margin-top: 15px; margin-bottom: 20px;"></div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row" style="margin-bottom: 15px;">
                                <div class="col-sm-4">
                                    <p id="description-label">Location of Head Office:</p>
                                </div>
                                <div class="col-sm-8">
                                    <p id="description-text"><a id="green-link" href="{% url 'basics:group_edit' pk=group.pk %}">add the location of the head office</a></p>
                                </div>
                            </div>
                        {% endif %}

                    </div>
                </div>

                <div class="modal-footer">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                                <a id="standard-grey-button-light" class="btn btn-default btn-sml" type="button" href="{% url 'basics:group_edit' pk=group.pk %}" style="margin-bottom: 15px;"><span class="glyphicon glyphicon-pencil"></span> Edit Profile</a>
                                <a id="standard-grey-button-light" class="btn btn-default btn-sml" type="button" href="{% url 'basics:claim' name=group.name%}" style="margin-bottom: 15px;"><span class="glyphicon glyphicon-globe"></span> Claim Area</a>
                                <a id="standard-grey-button-light" class="btn btn-default btn-sml" type="button" href="{% url 'basics:group_leave' pk=group.pk %}" style="margin-bottom: 15px;"><span class="glyphicon glyphicon-log-out"></span> Leave Organisation</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="col-sm-5 col-sm-push-7">
        <!-- add user to group -->
        <div id="standard-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center" id="standard-modal-headline">Add new Member</h2>
                </div>
                <div class="modal-body">
                    <form class="form" role="form" method="post" accept-charset="UTF-8">
                        {%csrf_token%}
                        {% if messages %}
                            {% for message in messages %}

                                {% if message.message == 'wrong_email' %}
                                    <div class="form-group">
                                        <div class="error-messages">
                                            <p>User with this email does not exist!</p>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <input type="email" class="form-control input-lg" placeholder="Email from Group-User" name="email" required/>
                        </div>
                        <div class="form-group">
                            <input name="add_group_member" id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Add"/>
                        </div>
                    </form>
                </div>
            </div>
        </div><!-- end add new member -->
    </div>
    <div class="col-sm-7 col-sm-pull-5">
        <!-- list of group member -->
        <div id="standard-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="text-center" id="standard-modal-headline">Member of this Organisation</h2>
                </div>
                <div class="modal-body">
                    {% if users %}
                        {% for user in users %}
                            <div class="list-group-item" id="standard-list-group-item-div">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <p>{{ user.email }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div><!-- end list of group member -->
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAmqqg6nhFweM6hPaowtRZT0kRsHPZSaBA"></script>
<script>

    var map;
    var marker;
    var myCenter=new google.maps.LatLng(51.508742,-0.120850);
    var geocoder;
    var infowindow;
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    function initialize() {
      geocoder = new google.maps.Geocoder()
      var mapProp = {
          center:myCenter,
          zoom:2,
          mapTypeId:google.maps.MapTypeId.ROADMAP,
          mapTypeControl: false,
          panControl:false,
          rotateControl:false,
          mapTypeControl:true,
          streetViewControl: false
      };
      marker=null;

      map = new google.maps.Map(document.getElementById("map-container"),mapProp);

      placeMarker(new google.maps.LatLng(parseFloat("{{ group.address.latitude }}".replace(",", ".")), parseFloat("{{ group.address.longditude }}".replace(",", "."))));
    }

    function placeMarker(location) {
    if(marker){
        infowindow.close();
        marker.setPosition(location);
        geocoder.geocode({'location': location}, function(results, status){
            infowindow.setContent(results[0].formatted_address);
            infowindow.open(map,marker);
        })
    }else{
        marker = new google.maps.Marker({
        position: location,
        map: map,
        });
        geocoder.geocode({'location': location}, function(results, status){
            infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
            infowindow.open(map,marker);
        })
        map.setZoom(8);
    }
    map.setCenter(marker.getPosition());
    }
    google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
