{% extends 'basics/base.html' %}

{% block content %}
<div class="container">
  <div class="row">

  <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
	<!--<div class="btn-group">
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Action <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">Action</a></li>
    	<li><a href="#">Another action</a></li>
    	<li><a href="#">Something else here</a></li>
    	<li role="separator" class="divider"></li>
    	<li><a href="#">Separated link</a></li>
  	</ul>

	</div>
	-->
	<div class="btn-group">
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Range <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">5 km</a></li>
    	<li><a href="#">10 km</a></li>
    	<li><a href="#">20 km</a></li>
    	<li role="separator" class="divider"></li>
    	<li><a href="#">100 km</a></li>
  	</ul>
	</div>
	<div class="btn-group">
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Category <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">Water</a></li>
    	<li><a href="#">Energy</a></li>
    	<li><a href="#">Pokemon</a></li>
    	<li role="separator" class="divider"></li>
    	<li><a href="#">Separated link</a></li>
  	</ul>
	</div>
	<div class="btn-group pull-right">
  	<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    	Cards per Page <span class="caret"></span>
  	</button>
  	<ul class="dropdown-menu">
    	<li><a href="#">10</a></li>
    	<li><a href="#">25</a></li>
    	<li><a href="#">50</a></li>
    	<li role="separator" class="divider"></li>
    	<li><a href="#">All</a></li>
  	</ul>
	</div>
	</div>
  </div>
  <br>
   	 <div class="row">
   		 <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
   			 <ul class="event-list">
   				 <li>

   					 <div class="info">
   						 <h2 class="title">Beispielüberschrift</h2>
   						 <p class="desc">Irgend eine Beschreibung</p>
          	<ul>
   							 <li style="width:50%;"><a href="#website"><span class="glyphicon glyphicon-map-marker"></span> Distance</a></li>
   							 <li style="width:50%;"> <span class="glyphicon glyphicon-thumbs-up"></span> Like</li>
   						 </ul>
   					 </div>

   				 </li>

   				 <li>
   					 <time datetime="2014-07-20 0000">
   						 <span class="day">8</span>
   						 <span class="month">Jul</span>
   						 <span class="year">2014</span>
   						 <span class="time">12:00 AM</span>
   					 </time>
   					 <div class="info">
   						 <h2 class="title">One Piece Unlimited World Red</h2>
   						 <p class="desc">PS Vita</p>
   						 <ul>
   							 <li style="width:50%;"><a href="#website"><span class="fa fa-globe"></span> Website</a></li>
   							 <li style="width:50%;"><span class="fa fa-money"></span> $39.99</li>
   						 </ul>
   					 </div>
   					 <div class="social">
   						 <ul>
   							 <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
   							 <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
   							 <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
   						 </ul>
   					 </div>
   				 </li>

   				 <li>
   					 <time datetime="2014-07-20 2000">
   						 <span class="day">20</span>
   						 <span class="month">Jan</span>
   						 <span class="year">2014</span>
   						 <span class="time">8:00 PM</span>
   					 </time>

   					 <div class="info">
   						 <h2 class="title">Mouse0270's 24th Birthday!</h2>
   						 <p class="desc">Bar Hopping in Erie, Pa.</p>
   						 <ul>
   							 <li style="width:33%;">1 <span class="glyphicon glyphicon-ok"></span></li>
   							 <li style="width:34%;">3 <span class="fa fa-question"></span></li>
   							 <li style="width:33%;">103 <span class="fa fa-envelope"></span></li>
   						 </ul>
   					 </div>
   					 <div class="social">
   						 <ul>
   							 <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
   							 <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
   							 <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
   						 </ul>
   					 </div>
   				 </li>

   				 <li>
   					 <time datetime="2014-07-31 1600">
   						 <span class="day">31</span>
   						 <span class="month">Jan</span>
   						 <span class="year">2014</span>
   						 <span class="time">4:00 PM</span>
   					 </time>

   					 <div class="info">
   						 <h2 class="title">Disney Junior Live On Tour!</h2>
   						 <p class="desc"> Pirate and Princess Adventure</p>
   						 <ul>
   							 <li style="width:33%;">$49.99 <span class="fa fa-male"></span></li>
   							 <li style="width:34%;">$29.99 <span class="fa fa-child"></span></li>
   						 </ul>
   					 </div>
   					 <div class="social">
   						 <ul>
   							 <li class="facebook" style="width:33%;"><a href="#facebook"><span class="fa fa-facebook"></span></a></li>
   							 <li class="twitter" style="width:34%;"><a href="#twitter"><span class="fa fa-twitter"></span></a></li>
   							 <li class="google-plus" style="width:33%;"><a href="#google-plus"><span class="fa fa-google-plus"></span></a></li>
   						 </ul>
   					 </div>
   				 </li>
   			 </ul>
   		 </div>
   	 </div>
    </div>
  <div class="row">

	<div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ] text-center">
  	<nav>
    	<ul class="pagination">
      	<li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
      	<li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
      	<li><a href="#">2</a></li>
      	<li><a href="#">3</a></li>
      	<li><a href="#">4</a></li>
      	<li><a href="#">5</a></li>
      	<li>
        	<a href="#" aria-label="Next">
          	<span aria-hidden="true">&raquo;</span>
        	</a>
      	</li>
    	</ul>
  	</nav>
	</div>
  </div>
</div>
{% endblock %}
