{% extends 'basics/base.html' %}
{% load filter%}
{% load staticfiles %}
{% block content %}

<style>

/* timeline */
.timeline {
    list-style: none;
    padding: 20px 0 0;
    position: relative;
}

.timeline:before {
    top: 5;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 3px;
    background-color: #DDDDDD;
    left: 50%;
    margin-left: -1.5px;
}

/* left arrow */
.timeline-panel-left:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 15px 15px 0;
    border-color: transparent #DDDDDD;
    display: block;
    width: 0;
    z-index: 1;
    left: -15px;
    top: 25px;
}

/* right arrow */
.timeline-panel-right:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 15px 0 15px 15px;
    border-color: transparent #DDDDDD;
    display: block;
    width: 0;
    z-index: 1;
    right: -15px;
    top: 25px;
}

/* badge */
.timeline-badge {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 24px;
    text-align: center;
    position: absolute;
    margin-top: 25px;
    left: 50%;
    margin-left: -20px;
    background-color: #5D5F5B;
    z-index: 100;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.timeline-badge > i {
    color: #bbd153;;
    padding: 8px;
}

/* tip of timeline arrow */
.timeline-tip {
    position: relative;
    width: 30px;
    height: 0px;
    padding: 0px;
    background: #DDDDDD;
    left: 50%;
    top: -22px;
    margin-left: -16px;
}

.timeline-tip:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 16px 25px;
    border-color: #DDDDDD transparent;
    display: block;
    width: 0;
    z-index: 1;
}

#left-timeline-block {
    padding-right: 40px;
    margin-bottom: 15px;
}

#right-timeline-block {
    padding-left: 40px;
    margin-bottom: 15px;
}

@media(max-width:768px) {

    .timeline:before {
        left: 20px;
    }

    .timeline-panel-right:after {
        border-width: 15px 15px 15px 0;
        left: -15px;
    }

    .timeline-badge {
        left: 20px;
    }

    .timeline-tip {
        left: 20px;
    }

    #left-timeline-block {
        padding-right: 15px;
        padding-left: 70px;
    }

    #right-timeline-block {
        padding-left: 70px;
    }

}

@media(max-width:440px) {

    .timeline:before {
        left: 50%;
    }


    .timeline-panel-right {
        margin-top: 18px;
        padding-top: 33px;
    }

    .timeline-panel-left {
        margin-top: 18px;
        padding-top: 33px;
    }

    .timeline-panel-right:after {
        display: none;
    }

    .timeline-panel-left:after {
        display: none;
    }

    .timeline-badge {
        left: 50%;
        margin-top: 0px;
    }

    .timeline-tip {
        left: 50%;
    }

    #left-timeline-block {
        padding-right: 15px;
        padding-left: 15px;
    }

    #right-timeline-block {
        padding-left: 15px;
    }

}

.list-group-footer {
    border: 1px solid #ddd;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    padding: 10px 15px;
    text-align: center;
    background-color: #EDEDED;
}

.list-group-footer-button {
    color: #70962c;
}

.list-group-footer-button:hover {
    color: #bbd153;
    text-decoration:none;
}

@media(max-width:768px) {

    #list-group-footer-button-margin {
        margin-bottom: 10px;
    }
}

</style>

<div id="standard-modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                {% if user.groups.all|length != 0 %}
                    <div class="col-sm-12" style="padding: 15px">
                        <h2 class="text-center" id="standard-modal-headline">Timeline</h2>
                    </div>
                    <div class="col-sm-1"></div>
                        <div class="col-sm-4" style="margin-bottom: 15px;">
                            <select style="width: 100%;" name="activities" id="activities">
                                <option value="all_activities">all activities</option>
                                <option value="posted_needs">posted needs</option>
                                <option value="needs_help">needs where you helped</option>
                                <option value="posted_information">posted information</option>
                                <option value="written_comments">written comments</option>
                                <option value="followed_infos">followed information</option>
                            </select>
                        </div>
                        <div  class="col-sm-4" style="margin-bottom: 15px;">
                            <select style="width: 100%;" name="group" id="group">
                                <option value="your_activities">your activities</option>
                                {% for group in user.groups.all %}
                                    <option value="{{group.name}}">your activities in {{group.name}}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div  class="col-sm-2" style="margin-top: -5px; margin-bottom: 10px;">
                            <input id="standard-grey-button-bold" type="button" onclick="filter()" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                        </div>
                    <div class="col-sm-1"></div>
                {% else %}
                    <div class="col-sm-6">
                        <h2 class="text-center" id="standard-modal-headline">Timeline</h2>
                    </div>
                        <div class="col-sm-4" style="margin-top: 20px;">
                            <select style="width: 100%" name="activities" id="activities">
                                <option value="all_activities">all activities</option>
                                <option value="posted_needs">posted needs</option>
                                <option value="needs_help">needs where you helped</option>
                                <option value="posted_information">posted information</option>
                                <option value="written_comments">written comments</option>
                                <option value="followed_infos">followed information</option>
                            </select>
                        </div>
                        <div  class="col-sm-2" style="margin-top: 15px; margin-bottom: 10px;">
                            <input id="standard-grey-button-bold" onclick="filter()" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                        </div>
                {% endif %}
            </div>
        </div>


        <div class="modal-body" id="modal-body">

        </div>
    </div>
</div>


<div class="modal fade" id="NeedDeleteModal" role="dialog">
    <div class="modal-dialog">

     <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Delete Your Need</h4>
             </div>
            <div class="modal-body">
                <p>If you delete This Need, the data will be permanently lost.</p>
                <p>Would you like to rethink your decision?</p>
            </div>
             <div class="modal-footer">
                <button id="standard-grey-button-light" type="button" class="btn btn-default" data-dismiss="modal">Rethink</button>
                <a id="NeedButtonDelete" type="button" class="btn btn-default standard-grey-button-light" href="">
                    <span class="glyphicon glyphicon-remove"></span> Delete
                </a>
             </div>
        </div>

    </div>
</div>

<div class="modal fade" id="CommentDeleteModal" role="dialog">
<div class="modal-dialog">

 <!-- Modal content-->
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Delete This Comment</h4>
         </div>
        <div class="modal-body">
            <p>If you delete This Comment, the data will be permanently lost.</p>
            <p>Would you like to rethink your decision?</p>
        </div>
         <div class="modal-footer">
            <button id="standard-grey-button-light" type="button" class="btn btn-default" data-dismiss="modal">Rethink</button>
            <a id="CommentButtonDelete" type="button" class="btn btn-default standard-grey-button-light" href="">
                <span class="glyphicon glyphicon-remove"></span> Delete
            </a>
         </div>
    </div>

</div>
</div>

<script>

function deletePrompt(conf, pk){
	if (conf=="need"){
		document.getElementById("NeedButtonDelete").setAttribute('href',"{% url 'basics:need_delete' pk=0 %}".replace("0", pk))
		$('#NeedDeleteModal').modal('show');
	}
	else if (conf=="comment"){
		document.getElementById("CommentButtonDelete").setAttribute('href',"{% url 'basics:delete_comment_timeline' pk=0 %}".replace("0", pk))
		$('#CommentDeleteModal').modal('show');
	}
	else {
		alert("Opps. Something went wrong :(");
	}
}

function unfollow(pk){
    if ($('#group').length > 0) {
        if ($("#group").val() == "your_activities") {
            group=null;
        }
        else{
        group= $("#group").val();
        }
    }
    else{
        group=null;
    }

    $.ajax({
        url: "unfollow/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, activity: $("#activities").val(), group: group},

        success: function(data){
        $('#modal-body').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

</script>



<script>

$(document).ready(filter);
function filter(){
    if ($('#group').length > 0) {
        if ($("#group").val() == "your_activities") {
            group=null;
        }
        else{
        group= $("#group").val();
        }
    }
    else{
        group=null;
    }
    $.ajax({
      url: "filter/",
      type: "POST",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}', activity: $("#activities").val(), group: group},

      beforeSend: function() {
        $('#modal-body').html("<div class='modal-body' style='padding-bottom: 0px;'' id='loader'><center><img src='{% static 'basics/images/loader.gif' %}'/></center></div><br>");
      },

      success: function(data){
        $('#modal-body').html(data);
        console.log("success");
      },

      error: function(xhr, errmsg, err){
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
}

</script>


{% endblock %}
