{% extends 'basics/base.html' %}

{% block content %}
<!-- Introduction Row -->
	<div id="standard-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">create new Information or Question</h1>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8">
					{%csrf_token%}
					<p style="font-size:160%;"> description <p\>
						<div class="form-group">
							<input type="description" class="form-control input-lg" placeholder="headline" name="headline"  rows="4"></textarea>
						</div>
					<div class="form-group">
						<textarea type="description" class="form-control input-lg" placeholder="description" name="text"  rows="4"></textarea>
					</div>
					{% if user.groups.all|length != 0 %}
						<p style="font-size:160%;"> post as </p>
						<select class="form-control" name="group">
							<option value="no_group">User</option>
							{% for group in user.groups.all %}
								<option value="{{group.id}}">{{group.name}}</option>
							{% endfor %}
						</select>
					{% endif %}
					<div class="form-group">
             				<p id="choose-location-text">If this information is not for your standard location from your profile choose an other one.
      					{% include "basics/map_testing.html" %}</p>
					</div>

					<div class="form-group">
						<input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Create & Send"/>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
