{% extends 'basics/base.html' %}
{% load filter %}
{% block content %}
{% load staticfiles %}

<!-- information-->
<div id="standard-modal" style="margin-bottom: 90px">
    <div class="modal-content">
        <div class="modal-header">

            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-12">
                    <h2 class="text-center" id="standard-modal-headline">Information</h2>
                </div>
            </div>
            <form class="form" id="filter-form" role="form" method="post" accept-charset="UTF-8">
            {%csrf_token%}

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2" style="margin-bottom: 15px;">
                        <input type="text" class="form-control" id="basic-url" name="word-search" placeholder="Search" aria-describedby="basic-addon3"></input>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <div class="input-group">
                                    <span class="input-group-addon">Range:</span>
                                    <input type="text" class="form-control" id="range" value="{{range}}" name="range" aria-describedby="basic-addon3" maxlength="5"></input>
                                    <span class="input-group-addon">km</span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <select style="width: 100%" name="cards_per_page" id="cards_per_page">
                                    <option selected value=10>10 information per page</option>
                                    <option value=25>25 information per page</option>
                                    <option value=100>100 information per page</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" class="form-control" id="page" name="page" value="1"/>

                <div class="row">
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 5px; margin-bottom:15px;">
                        <input type="button" class="btn btn-block btn-lg btn-primary standard-grey-button-bold" onclick="location.href='{% url 'basics:information_all' %}'" value="Clear Filter"/>
                    </div>
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 5px;">
                        <input id="standard-grey-button-bold" type="button" class="btn btn-block btn-lg btn-primary" onclick="filter()" value="Filter"/>
                    </div>
                </div>

            </form>
        </div>
        <div id="insert">
        </div> <!--insert-->
    </div>
</div><!-- end Information -->

<div class="col-sm-1 col-sm-push-11 col-xs-3 col-xs-push-9">
    <div id="add-float-button" style="float: right; margin-right: 50px;">
        <a id="standard-grey-button-light" type="button" class="btn btn-default button-float" onclick="location.href='{% url 'basics:information_new' %}'" title="create new information or question" style="font-size: 26px;"><span class="glyphicon glyphicon-plus"/></a>
    </div>
</div>


<script>

    $(window).ready(function() {
        if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

    $(window).resize(function() {
        if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
            $('.button-float').css('position', 'fixed');
            $('.button-float').css('bottom', '20px');
        }else{
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

     $(document).scroll(function() {
         if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
             $('.button-float').css('position', 'absolute');
             $('.button-float').css('bottom', '0px');
         }
         if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
             $('.button-float').css('position', 'fixed');
             $('.button-float').css('bottom', '20px');
         }
     });

</script>

<script>

function submit_page(button){
  var button = $(button).attr("value");
  $("#page").val(button);
  console.log($(button).attr("value"));
  filter();
}
$(document).ready(filter);

function filter(){

  $.ajaxSetup({
      data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
  });
    $.ajax({
      url: "filter/",
      type: "POST",
      data: {page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

      beforeSend: function() {
        $('#insert').html("<div class='modal-body' style='padding-bottom: 0px;'' id='loader'><center><img src='{% static 'basics/images/loader.gif' %}'/></center></div><br>");
      },

      success: function(data){
        $('#insert').html(data);
        console.log("success");
      },

      error: function(xhr, errmsg, err){
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
}

</script>

<script>

function report(pk){
    console.log(pk)

    $.ajax({
        url: "report/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

function follow(pk){
    console.log(pk)

    $.ajax({
        url: "follow/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

function unfollow(pk){
    console.log(pk)

    $.ajax({
        url: "unfollow/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

function like(pk){
    console.log(pk)

    $.ajax({
        url: "like/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

function unlike(pk){
    console.log(pk)

    $.ajax({
        url: "unlike/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
            console.log("success");
        },

        error: function(xhr, errmsg, err){
            console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

</script>
{% endblock %}
