{% extends 'basics/base.html' %}
{% block content %}

<!-- Introduction Row -->
	<div id="standard-modal">
		<div class="modal-content">
			<div class="modal-header">
                <h2 class="text-center" id="standard-modal-headline">Create new Information or Question<br><small>Use this form to create an information for all users or a question to all users.</small></h2>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8">
					{%csrf_token%}
					{% if messages %}
                        {% for message in messages %}
                            {% if message.message == 'not_valid' %}
                                <div class="error-messages">
                                    <p>Please fill in all fields!</p>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
					<h4>Headline for your information or question: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="This headline will represent your information or question for other users. Give a clear, short overview."><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
					<div class="form-group">
						<input type="description" class="form-control input-lg" placeholder="Headline" name="headline"  rows="4" maxlength="30" required>
					</div>
                    <h4>Description for your information or question: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="Give an accurate description of your information or question."><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
					<div class="form-group">
						<textarea type="description" class="form-control input-lg" placeholder="Description" name="text"  rows="4" required></textarea>
					</div>
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-sm-5">
                            <h4>Optional choose a location: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="If you do not want to use your standard location, choose another one, otherwise we will use the standard one!" ><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                        </div>
                        <div class="col-lg-3 col-md-3 col-sm-4">
                            <div class="form-group">
                                {% include "basics/map_testing.html" %}
                            </div>
                        </div>
                    </div>
                    {% if user.groups.all|length != 0 %}
                        <div class="row">
                            <div class="col-sm-5 col-sm-offset-4" style="margin-top: 5px; margin-bottom: 15px;">
                                <select style="width: 100%;" name="group">
                                    <option value="no_group">create as user</option>
        							{% if user.is_staff %}
        								<option value="admin">create as admin</option>
        							{% endif %}
        							{% for group in user.groups.all %}
        								<option value="{{group.id}}">create as {{group.name}}</option>
        							{% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Post"/>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-9">
                                <div class="form-group">
                                    <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Post"/>
                                </div>
                            </div>
                        </div>
                    {% endif %}
				</form>
			</div>
		</div>
	</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% endblock %}
