{% extends 'basics/base.html' %}
{% load filter %}
{% block content %}

<!-- modal for every information -->
<div id="standard-modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-9">
                    <h2>{{information.headline}}</h2>
                    <h6><i>from {{ information.date }}{% if information.author_is_admin %} by <span style="color: #D36E5A;">Admin</span>{% elif information.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=information.group.name %}">{{ information.group.name }}</a>{% elif information.author == user %} by <span>you</span>{% endif %}</i></h6>
                </div>
                <div class="col-sm-3">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                            <a id="standard-grey-button-light" class="btn btn-default btn-sml" type="button" onClick="history.go(-1);return true;"  style="margin-top: 15px; margin-bottom: 15px;"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-body">
            <p style="word-wrap: break-word;">{{ information.text | linebreaksbr }}</p>
            <h5><i>Location:</i></h5>
            <div id="map-container" style="height: 450px; margin-top: 15px; margin-bottom: 20px;"></div>
            <div class="list-group">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        {% for comment in comments %}

                            <!-- list all informations -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="list-group-item cursor-pointer" id="standard-list-group-item-div" data-toggle="modal" data-target=".{{ comment.id }}">
                                        <p class="list-group-item-text" style="word-wrap: break-word;">{{ comment|get_short_text:1024|linebreaksbr }}</p>
                                    </div>
                                    <div class="list-group-footer" style="margin-bottom: 15px;">
                                        <div class="row">
                                            {% if comment.author != user %}
                                                {% if not user.userdata in comment.reported_by.all %}
                                                    <div class="col-sm-9" id="comment-meta-data">
                                                        <p><i>from {{ comment.date }}{% if comment.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=comment.group.name %}">{{ comment.group.name }}</a>{% endif %}</i></p>
                                                    </div>
                                                    <a class="list-group-footer-button" type="button" href="{% url 'basics:report_comment' pk=comment.id %}">
                                                        <div class="col-sm-3">
                                                            <span class="glyphicon glyphicon-ban-circle"></span> Report
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <div class="col-sm-12" id="comment-meta-data">
                                                        <p><i>from {{ comment.date }}{% if comment.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=comment.group.name %}">{{ comment.group.name }}</a>{% endif %}</i></p>
                                                    </div>
                                                {% endif %}
                                            {% else %}
                                                <div class="col-sm-9" id="comment-meta-data">
                                                    <p><i>from {{ comment.date }}{% if comment.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=comment.group.name %}">{{ comment.group.name }}</a>{% elif comment.author == user %} by <span>you</span>{% endif %}</i></p>
                                                </div>
                                                <a class="list-group-footer-button" type="button" href="{% url 'basics:information_delete_comment' pk_inf=information.pk pk_comm=comment.pk %}">
                                                    <div class="col-sm-3">
                                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                                    </div>
                                                </a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- modal for every comment -->
                            <div class="modal fade {{ comment.id }}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h2>Information: {{comment.inf.headline}}</h2>
                                            <h6><i>from {{ comment.inf.date }}{% if comment.inf.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=comment.inf.group.name %}">{{ comment.inf.group.name }}</a>{% elif comment.author == user %} by <span>you</span>{% endif %}</i></h6>
                                        </div>
                                        <div class="modal-body">
                                            <h5><i>Comment from {{ comment.date }}{% if comment.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=comment.group.name %}">{{ comment.group.name }}</a>{% elif comment.author == user %} by <span>you</span>{% endif %}:</i></h5>
                                            <p style="word-wrap: break-word;">{{ comment.text|linebreaksbr }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="standard-grey-button-light" type="button" class="btn btn-primary" data-dismiss="modal" style="margin-bottom: 10px;">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% empty %}
                            <h4 style="margin-bottom: 30px;">There are no comments for this information.</h4>
                        {% endfor %}

                        <h4>Write a Comment:</h4>
                        <form action="{% url 'basics:information_view_comment' pk=information.pk %}" method="post">
                        {%csrf_token%}
                            <textarea hint="Your comment" class="form-control" name="comment_text" rows="6" placeholder="Comment" style="margin-bottom: 15px;" required></textarea>
                            {% if user.groups.all|length != 0 %}
                                <div class="row">
                                    <div class="col-sm-5 col-sm-offset-4">
                                        <select style="width: 100%; margin-top: 5px; margin-bottom: 15px;" name="group">
                                            <option value="no_group">comment as normal user</option>
                                            {% for group in user.groups.all %}
                                                <option value="{{group.id}}">comment as {{group.name}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-sm-3">
                                        <button id="standard-grey-button-light" type="submit " class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                                    </div>
                                </div>
                            {% else %}
                                <div class="row">
                                    <div class="col-sm-3 col-sm-offset-9">
                                        <button id="standard-grey-button-light" type="submit " class="btn btn-block btn-lg btn-primary"><span class="glyphicon glyphicon-comment"></span> Comment</button>
                                    </div>
                                </div>
                            {% endif %}
                        </form>

                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <a id="standard-grey-button-light" class="btn btn-default btn-sml" type="button" onClick="history.go(-1);return true;" style="float: right; margin: 15px;"><span class="glyphicon glyphicon-chevron-left"></span> Back</a>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAmqqg6nhFweM6hPaowtRZT0kRsHPZSaBA"></script>
<script>

    var map;
    var marker;
    var myCenter=new google.maps.LatLng(51.508742,-0.120850);
    var geocoder;
    var infowindow;
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    function initialize() {
        geocoder = new google.maps.Geocoder()
        var mapProp = {
            center:myCenter,
            zoom:2,
            mapTypeId:google.maps.MapTypeId.ROADMAP,
            mapTypeControl: false,
            panControl:false,
            rotateControl:false,
            mapTypeControl:true,
            streetViewControl: false
        };
        marker=null;

        map = new google.maps.Map(document.getElementById("map-container"),mapProp);

        placeMarker(new google.maps.LatLng(parseFloat("{{ information.adrAsPoint.y }}".replace(",", ".")), parseFloat("{{ information.adrAsPoint.x }}".replace(",", "."))));
  }

  function placeMarker(location) {
      if(marker){
          infowindow.close();
          marker.setPosition(location);
          geocoder.geocode({'location': location}, function(results, status){
              infowindow.setContent(results[0].formatted_address);
              infowindow.open(map,marker);
          })
      }else{
          marker = new google.maps.Marker({
          position: location,
          map: map,
          });
          geocoder.geocode({'location': location}, function(results, status){
              infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
              infowindow.open(map,marker);
          })
          map.setZoom(8);
      }
      map.setCenter(marker.getPosition());
  }
  google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
