{% extends 'basics/base.html' %}
{% load staticfiles %}
{% block content %}

<style>

	#map-container {
		height: 50%;
	}

    #claim-new-container {
        border: 1px solid #ddd;
        border-bottom: 0px;
        padding: 15px;
        background-color: #FAFAFA;
    }

    #header-map-claim {
        border: 1px solid #ddd;
        border-bottom: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #EDEDED;
        margin: 0px;
        padding: 10px 15px;
        text-align: center;
    }

    #claim-owner {
        text-align:left;
        margin-bottom: 0px;
    }

    @media(max-width:768px) {

        #heading-map-claim-button-over-last {
            margin-bottom: 15px;
        }

        #claim-owner {
            margin-bottom: 10px;
        }

        #not-last-object {
            margin-bottom: 15px;
        }

    }

    #outer-claim-scroll {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 10px;
        padding-right: 10px;
        margin-bottom: 15px;
        border: 1px solid #ddd;
        border-top: 0px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background-color: #FAFAFA;
    }

    #nav-pills-outer {
        padding-left: 0px;
        padding-right: 0px;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    #nav-pills-outer > .nav-pills > li > a{
        margin: 0px;
        border-radius: 0px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #EDEDED;
    }

    #nav-pills-outer > .nav-pills > li > a:hover,
    #nav-pills-outer > .nav-pills > li > a:focus,
    #nav-pills-outer > .nav-pills > li.active > a,
    #nav-pills-outer > .nav-pills > li.active > a:hover,
    #nav-pills-outer > .nav-pills > li.active > a:focus {
        color: #bbd153;
    }

    #nav-pills-outer > .nav-pills {
         background-color: #EDEDED;
    }

    .panel-body {
        border-top: 1px solid #ddd;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

</style>
<div id="standard-modal">
    <div class="standard-modal" id="location-map-modal">
        <div class="modal-content">
            <div class ="modal-header">
                <h2 class="text-center" id="standard-modal-headline">Claims of {{group}}<br><small>This page is for organisation in or between organistaions.</small></h2>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-top: 15px;">

                        <div class="col-sm-12">
                            <div class="row" id="header-map-claim">
                                <a class="list-group-footer-button cursor-pointer" type="button" onclick="getLocation()">
                                    <div class="col-sm-4" id="heading-map-claim-button-over-last">
                                        <span class="glyphicon glyphicon-screenshot"></span> Get my Location
                                    </div>
                                </a>
                                <a id="button1" class="list-group-footer-button cursor-pointer" type="button" onclick="loadClaims('0')">
                                    <div class="col-sm-4" id="heading-map-claim-button-over-last">
                                        <span class="glyphicon glyphicon-globe"></span> Show All
                                    </div>
                                </a>
                                <a id="button3" class="list-group-footer-button cursor-pointer" type="button" onclick="newClaim()">
                                    <div class="col-sm-4">
                                        <span class="glyphicon glyphicon-flag"></span> New Claim
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div id="claim-new-area" style="display:none;">
                            <div class="row">
                                <div class="col-sm-12" style="padding-left: 30px; padding-right: 30px;">
                                    <div id="claim-new-container" class="col-sm-12">
                                        <div class="col-sm-10 col-sm-offset-1" style="margin-top: 15px; margin-bottom: 15px;">
                                            <h4><span style="font-weight: bold">1.</span> Name for your claim:</h4>
                                            <div class="form-group">
                              					<input type="text" class="form-control input-lg" placeholder="Name for claim" id="claimname" name="claimname" maxlength="30" required/>
                              				</div>
                                            <h4><span style="font-weight: bold">2.</span> Draw your polygon!</h4>
                                            <div class="row">
                                                <div class="col-sm-3 col-sm-offset-9">
                                                    <button id="button4" style="margin:1px" type="button" onclick="post_poly()" class="btn btn-block btn-primary standard-grey-button-bold" >Save</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-sm-12">
                        <div id="map-container" style="border: 1px solid #ddd;"></div>
                    </div>

                    <div class="col-sm-12">
                        <div class="col-sm-12" id="outer-claim-scroll">
                            <div style="max-height: 410px; overflow-y: scroll;">
                                <div class="col-sm-12">
                                    <div class="list-group" id="poly-list">
                                        {% for poly in polyuser %}
                                            <div class="row" id="div{{forloop.counter0}}" style="margin-right: -10px;">
                                                <a class="list-group-item" type="button" id="standard-list-group-item-div">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <h4 class="list-group-item-heading">{{ poly.title }}</h4>
                                                        </div>
                                                        <div class="col-sm-3">
                                                            <input type="checkbox" value={{poly.pk}} id="checkbox{{forloop.counter0}}" aria-label="..." style="float: right;">
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="list-group-footer" style="margin-bottom: 15px;">
                                                    <div class="row">
                                                        <div class="col-sm-9">
                                                            <p id="claim-owner"><i>Owner {% if user == poly.claimer %} you{% else %} {{poly.claimer}}{% endif %}</i></p>
                                                        </div>
                                                        <a class="list-group-footer-button cursor-pointer" type="button" onclick="deleteClaim({{poly.pk}},{{forloop.counter0}})">
                                                            <div class="col-sm-3">
                                                                <span class="glyphicon glyphicon-remove"></span> Delete
                                                            </div>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        {% empty %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- needs and information tabs -->
                    <div class="col-sm-12" style="margin-bottom: 15px; margin-top: 15px;">
                        <div class="col-sm-12" id="nav-pills-outer">
                            <ul class="nav nav-pills nav-justified">
                                <li class="active"><a href="#tab-needs" data-toggle="tab"><h4 style="font-weight:bold;">Needs</h4></a></li>
                                <li><a href="#tab-information" data-toggle="tab"><h4 style="font-weight:bold;">Information</h4></a></li>
                            </ul>
                            <div class="panel-body">
                                <div class="tab-content">
                                    <div class="tab-pane fade in active" id="tab-needs">
                                            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                                                <div class="col-sm-4 col-sm-offset-1" id="not-last-object" style="margin-top: 5px;">
                                                    <input type="text" class="form-control" id="need-wordsearch" name="word-search" placeholder="Search" aria-describedby="basic-addon3"/>
                                                </div>
                                                <div class="col-sm-4" id="not-last-object" style="margin-top: 5px;">
                                                    <select style="width: 100%" name="category" id="category">
                                                        <option value="All" {% if 'All' == category %}selected{% endif %}>All Categories</option>
                                                        {% for cat in categories %}
                                                            <option value="{{ cat.name }}" {% if cat.name == category %}selected{% endif %}>{{ cat.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input id="standard-grey-button-bold" type="button" onclick="loadNeeds()" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                                                </div>
                                            </div>

                                        <div class="list-group" style="margin-bottom: 0px;" id="need-list">

                                        </div>
                                    </div>
                                    <div class="tab-pane fade" id="tab-information">
                                            <div class="row" style="margin-top: 15px; margin-bottom: 15px;">
                                                <div class="col-sm-8 col-sm-offset-1" id="not-last-object" style="margin-top: 5px;">
                                                    <input type="text" class="form-control" id="info-wordsearch" name="word-search" placeholder="Search" aria-describedby="basic-addon3"/>
                                                </div>
                                                <div class="col-sm-2">
                                                    <input id="standard-grey-button-bold" type="button" onclick="loadInfos()" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                                                </div>
                                            </div>
                                        <div class="list-group" style="margin-bottom: 0px;" id="info-list">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div><!-- end modal body -->
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAmqqg6nhFweM6hPaowtRZT0kRsHPZSaBA"></script>


<script>
	var map, poly;
	var myCenter=new google.maps.LatLng(51.508742,-0.120850);
	var geocoder;
	var infowindow;
	var marker;
    var path = [];
	var info = new google.maps.InfoWindow();
    var loadedAll = false;
    var onedit=false;
    var saved=false;
    var othPolys=[];
    var ownPolys=[];

    function deleteClaim(pk,divid){
        $.ajax({
            url: "delete/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk},

            success: function(json){
                //refreshClaim();
                $.notify("Deletion successful.",{className: "info", position: "right-bottom"});
                $("#div"+divid).remove();
                ownPolys[divid].setMap(null);
            },
            error: function(xhr, errmsg, err){
                $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
            },
        });
    }

    function loadNeeds(){
        liste=getChecked();
        $.ajax({

              url: "needs/",
              type: "POST",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', category: $("#category").val(), wordsearch: $("#need-wordsearch").val(), liste: liste},

              beforeSend: function() {
                $('#need-list').html("<div class='modal-body' style='padding-bottom: 0px;'' id='loader'><center><img src='{% static 'basics/images/loader.gif' %}'/></center></div><br>");
              },

              success: function(data){
                $('#need-list').html(data);
              },

              error: function(xhr, errmsg, err){
              }
            });
    }

    function loadInfos(){
        liste=getChecked();
        $.ajax({

              url: "infos/",
              type: "POST",
              data: {csrfmiddlewaretoken: '{{ csrf_token }}', wordsearch: $("#info-wordsearch").val(), liste: liste},

              beforeSend: function() {
                $('#info-list').html("<div class='modal-body' style='padding-bottom: 0px;'' id='loader'><center><img src='{% static 'basics/images/loader.gif' %}'/></center></div><br>");
              },

              success: function(data){
                $('#info-list').html(data);
              },

              error: function(xhr, errmsg, err){
                $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
              }
            });
    }
    function reportNeed(pk){

        $.ajax({
            url: "reportNeed/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk},

            success: function(data){
                $('#divneed'+pk).html(data);
            },
            error: function(xhr, errmsg, err){
                $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
            }
        });

    }
    function reportInfo(pk){

        $.ajax({
            url: "reportInfo/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, wordsearch: $("#info-wordsearch").val(), liste: liste},

            success: function(data){
                $('#info-list').html(data);
            },
            error: function(xhr, errmsg, err){
                $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
            }
        });

    }

    function follow(pk){

        $.ajax({
            url: "follow/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, wordsearch: $("#info-wordsearch").val(), liste: liste},

            success: function(data){
                $('#info-list').html(data);
            },

            error: function(xhr, errmsg, err){
            }
        });

    }

    function unfollow(pk){

        $.ajax({
            url: "unfollow/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, wordsearch: $("#info-wordsearch").val(), liste: liste},

            success: function(data){
                $('#info-list').html(data);
            },

            error: function(xhr, errmsg, err){
            }
        });

    }

    function like(pk){
        $.ajax({
            url: "like/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, wordsearch: $("#info-wordsearch").val(), liste: liste},

            success: function(data){
                $('#info-list').html(data);
            },

            error: function(xhr, errmsg, err){
            }
        });

    }

    function unlike(pk){

        $.ajax({
            url: "unlike/",
            type: "POST",
            data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), wordsearch: $("#basic-url").val()},

            success: function(data){
                $('#info-list').html(data);
            },

            error: function(xhr, errmsg, err){
            }
        });

    }

    function refreshClaim(pk, index){
       $.ajax({
        url: "refresh/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, index: index},

        success: function(data){
            $('#poly-list').append(data);
            google.maps.event.addDomListener($("#checkbox"+index)[0], 'change', function(){
                if($(this).is(':checked'))
                {
                    ownPolys[index].setOptions({fillOpacity: 0.35, fillColor: '#006400', strokeOpacity: 0.9, strokeWeight: 3, strokeColor: '#006400'});
                    loadNeeds();
                    loadInfos();
                }
                else
                {
                    ownPolys[index].setOptions({fillOpacity: 0.35, fillColor: '#FF0000', strokeOpacity: 0.9, strokeWeight: 3, strokeColor: '#FF0000'});
                    loadNeeds();
                    loadInfos();
                }
            });

        },

        error: function(xhr, errmsg, err){
            $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
        }
    });

    }

    function post_poly(){
    if(!saved){
        if(document.getElementById("claimname").value != "") {
            if(poly.getPath().length > 2) {
                $("#claim-new-area").fadeOut('fast')
        		pathi=save();
                saved=true;
                claimnam = document.getElementById("claimname").value;
        		$.ajax({
        			url: "post/",
        			type: "POST",
        			data: {csrfmiddlewaretoken: '{{ csrf_token }}', path: pathi, claimname: claimnam},

        			success: function(json){
                        refreshClaim(json.pk, ownPolys.length);
        				$.notify("Creation successful!",{className: "success", position: "right-bottom"});
        				poly.setEditable(false);
                        poly.setDraggable(false);
                        onedit=false;
        				poly.addListener('click', function(event){
        	  				info.setContent('<b>Group: </b>'+'{{group}}'+'<br><b>Owner: </b>' +json.owner + '<br><b>Title: '+json.claimname+'</b>');
        	  				info.setPosition(event.latLng);
        	  				info.open(map);
          				})
                        ownPolys.push(poly);
        			},

        			error: function(xhr, errmsg, err){
                        $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
        			}
        		});
            }else{$.notify("Please choose at least 3 points for your claim.",{className: "info", position: "right-bottom"})}
        }else{$("#claimname").notify("Please choose a title for your Claim.",{className: "error", position: "top-right"})}
    
    } else{
        $.notify("You already saved your Area! Press New to create another.",{className: "info", position: "right-bottom"});
    }
}

    function getChecked(){
        var liste=[];
        $("input[type=checkbox]:checked").each(function(){
            liste.push($(this).val());
        });
        return liste;

    }

    function newClaim(){
        $("#claim-new-area").fadeIn('fast');
        saved=false
        if (onedit==false){
        poly=new google.maps.Polygon({
                paths: new google.maps.MVCArray([new google.maps.MVCArray]),
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                editable: true,
                draggable: true
            });
    }
    onedit=true;
    }

	function initialize() {
    	geocoder = new google.maps.Geocoder()
			var mapProp = {
  			center:myCenter,
  			zoom:2,
  			mapTypeId:google.maps.MapTypeId.ROADMAP,
				mapTypeControl: false,
        panControl:false,
        rotateControl:false,
				mapTypeControl:true,
        streetViewControl: false
  		};
  		map = new google.maps.Map(document.getElementById("map-container"),mapProp);
        loadClaims('2');
        google.maps.event.addListener(map, 'click', addPoint);
	}

    function loadClaims(prop){
        if(prop=='2'){
            {% for claim in polygons %}
                path = [];
                {% for point in claim.poly.0 %}
                    path.push(new google.maps.LatLng{{point}});
                {% endfor%}
                createPoly(prop, path, '{{claim.group.name}}','{{claim.claimer.email}}','{{claim.title}}');
            {%endfor %}
            initializeCheckbox();
        }
        if(prop=='0'){
            loadedAll=true;
            document.getElementById('button1').setAttribute("onclick","loadClaims('1')");
            document.getElementById('button1').innerHTML="<div class='col-sm-4' id='heading-map-claim-button-over-last'><span class='glyphicon glyphicon-globe'></span> Show Own</div>";
            showClaims("1");
        }
        if(prop=='1'){
            loadedAll=false;
            document.getElementById('button1').setAttribute("onclick","loadClaims('0')");
            document.getElementById('button1').innerHTML="<div class='col-sm-4' id='heading-map-claim-button-over-last'><span class='glyphicon glyphicon-globe'></span> Show All</div>";
            showClaims("2");
        }
    }

    function showClaims(prop){
        if(prop=="1"){
            for(i in othPolys){
                claim=othPolys[i];
                claim.setMap(map);
            }
        }
        if(prop=="2"){
            for(var i in othPolys){
                claim=othPolys[i];
                claim.setMap(null);
            }
        }
    }

    function initializeCheckbox(){
        for (var i in ownPolys){
            (function(_i){
                google.maps.event.addDomListener($("#checkbox"+_i)[0], 'change', function(){
                if($(this).is(':checked'))
                {
                    ownPolys[_i].setOptions({fillOpacity: 0.35, fillColor: '#006400', strokeOpacity: 0.9, strokeWeight: 3, strokeColor: '#006400'});
                    loadNeeds();
                    loadInfos();
                }
                else
                {
                    ownPolys[_i].setOptions({fillOpacity: 0.35, fillColor: '#0000CD', strokeOpacity: 0.9, strokeWeight: 3, strokeColor: '#0000CD'});
                    loadNeeds();
                    loadInfos();
                }
            });
            })(i);
        }
    }

    function createPoly(prop, path, group, email, title) {
        if ("{{group}}" == group) {
        	var claim = new google.maps.Polygon({
                paths: new google.maps.MVCArray(path),
                strokeColor: '#0000CD',
                fillColor: '#0000CD',
                strokeOpacity: 0.9,
                strokeWeight: 3,
                fillOpacity: 0.35,
                editable: false
            });
            claim.addListener('click', function(event){
                info.setContent('<b>Group: </b>'+group+'<br><b>Owner: </b>' +email + '<br><b>Title: '+title+'</b>');
                info.setPosition(event.latLng);
                info.open(map);
            })
            claim.setMap(map);
            ownPolys.push(claim);
        }

        else{
            if ("{{group}}" != group){
            var claim = new google.maps.Polygon({
                paths: new google.maps.MVCArray(path),
                strokeColor: '#5D5F5B',
                strokeOpacity: 0.9,
                strokeWeight: 3,
                fillColor: '#5D5F5B',
                fillOpacity: 0.35,
                editable: false
            });
            claim.addListener('click', function(event){
                info.setContent('<b>Group: </b>' + group);
                info.setPosition(event.latLng);
                info.open(map);
            });
            othPolys.push(claim);
        }
        }

    }

	function addPoint(event) {
		if(poly.editable==true && onedit==true){
			poly.getPath().insertAt(poly.getPath().length, event.latLng);
			print_polygon();
			poly.setMap(map);
		}
	}

    function save() {
        var googleToDjango="";
        for(var i=0;i<poly.getPath().length;i++){
            if(i>0){
                googleToDjango+=", ";
            }
            googleToDjango+=poly.getPath().getAt(i).lat()+" "+poly.getPath().getAt(i).lng();
        }
        googleToDjango+=", "+poly.getPath().getAt(0).lat()+" "+poly.getPath().getAt(0).lng();
        return googleToDjango;
    }

    function print_polygon(){
        for (var i=0; i<poly.getPath().length; i++){
        }
    }

    function placePolygon(event){
        if(poly){
            placeMarker(event);
            var index=paths.length;
            paths.push(event.latLng);
            poly.setPaths(paths);
            //google.maps.event.addListener(poly.getPath().getAt(index), 'set_at', print_polygon());
        }
        else if(!poly){
                placeMarker(event);
                paths.push(event.latLng);
                poly=new google.maps.Polygon({
                paths: paths,
                strokeColor: '#0000CD',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#0000CD',
                fillOpacity: 0.35,
                editable: false
            });
        } else {
            paths=poly.getPaths();
        }poly.setMap(map);
    }

	function getLocation() {
    	if (navigator.geolocation) {
    	    navigator.geolocation.getCurrentPosition(showPosition);
    	} else {
    	    x.innerHTML = "Geolocation is not supported";
    	    y.innerHTML = "by this browser.";
    	}
	}

	function showPosition(position) {
    	var latlng={lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
    	placeMarker(latlng);
	}


	function placeMarker(location) {
	    if(marker){
	        infowindow.close();
	        marker.setPosition(location);
	        geocoder.geocode({'location': location}, function(results, status){
	            infowindow.setContent(results[0].formatted_address);
	            infowindow.open(map,marker);
	        })
	    }
	    else{
	        marker = new google.maps.Marker({
	        position: location,
	        map: map,
	        });
	        geocoder.geocode({'location': location}, function(results, status){
	            infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
	            infowindow.open(map,marker);
	        })
	       	map.setZoom(6);
	    }
		map.setCenter(marker.getPosition());
	}
	google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script type='text/javascript'>
 	$('#location-map-modal').on('shown.bs.modal', function(e) {
        initialize();
    });

</script>

{% endblock %}
