{% extends 'basics/base.html' %}

{% block content %}

<style>

	#map-container {
		height: 50%;
	}


</style>
<div class ="row">
<div class="col-md-12">
<div class="standard-modal" id="location-map-modal">
<div class="modal-content">
<div class ="modal-header"><h2 class="text-center">Which area should be claimed?</h2></div>
<div class="modal-body row">

<div class="col-md-9">

				<div class="form-group" id="location-form">
					<p id="option"><b>1. Step(optional): </b>The easiest way to get your location is to use the autolocation function.<button id="standard-grey-button-bold" type="button" class="btn btn-primary" style="margin-left: 15px; margin-right: 15px" onclick="getLocation()">My Location</button></p>
				</div>
				<div class="form-group" id="location-form">
					<p id="option"><b>2. Step: </b>Draw your polygon.</p>
					<div id="map-container"></div>
				</div>

<div class="row">
<div class="col-md-12 text-right">
<button id="button1" style="margin:1px" type="button" onclick="loadClaims('0')" class="btn btn-primary standard-grey-button-bold">Load All</button>
<button id="button2" style="margin:1px" type="button" onclick="loadClaims('1')" class="btn btn-primary standard-grey-button-bold">Load Own</button>
<button id="button3" style="margin:1px" type="button" onclick="newClaim()" class="btn btn-primary standard-grey-button-bold" >New</button>
<button id="button4" style="margin:1px" type="button" onclick="post_poly()" class="btn btn-primary standard-grey-button-bold" >Save</button>
</div>
</div>

</div>
<div class="col-md-3">
    <h2 class="text-center">Your Claims</h2>
        <div class="col-md-12" style="max-height: 400px; overflow-y: scroll;">
                    <div class="list-group" id="poly-list">
                        {% if polyuser %}
                            {% for poly in polyuser %}
                                <!-- list all needs -->
                                <a class="list-group-item" id="standard-list-group-item-div">
                                    <div class="row">
                                            <h4 class="list-group-item-heading">{{ poly.pk }}</h4>
                                            <p class="list-group-item-text">Owner: {{poly.claimer}}</p>
                                            <button type="button" class="btn btn-default btn-sml standard-grey-button-light" onclick="deleteClaim({{poly.pk}})" style="float: right; "><span class="glyphicon glyphicon-remove"></span>Delete</button>

                                    </div>
                                </a>
                            {% empty %}
                                <h4>There are no needs.</h4>
                            {% endfor %}
                        {% endif %}
                    </div>

        </div>
</div>

</div>
</div>
</div>
</div>
</div>




<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAmqqg6nhFweM6hPaowtRZT0kRsHPZSaBA"></script>
<script>
function deleteClaim(pk){
	$.ajax({
		url: "delete/",
		type: "POST",
		data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk},

		success: function(json){
            refreshClaim();
			$.notify("Deletion successful.",{className: "info", position: "right-bottom"});
		},
		error: function(xhr, errmsg, err){
			console.log(xhr.status + ": " + xhr.responseText);
		},
	});
}

function refreshClaim(){
   $.ajax({
    url: "refresh/",
    type: "POST",
    data: {csrfmiddlewaretoken: '{{ csrf_token }}',},

    success: function(data){
        $('#poly-list').html(data);
        console.log("success");
    },

    error: function(xhr, errmsg, err){
        console.log(xhr.status + ": " + xhr.responseText);
    }
});

}
</script>

<script>
	var map, poly;
	var myCenter=new google.maps.LatLng(51.508742,-0.120850);
	var geocoder;
	var infowindow;
	var marker;
    var path = [];
	var info = new google.maps.InfoWindow();
    var loadedOwn = false;
    var loadedAll = false;
    var onedit=false;
    var saved=false;
    var ownPolys=[];
    var othPolys=[];


    function post_poly(){
    if(!saved){
		pathi=save();
        saved=true;
		console.log("form submitted!");
		$.ajax({
			url: "post/",
			type: "POST",
			data: {csrfmiddlewaretoken: '{{ csrf_token }}', path: pathi},

			success: function(json){
                refreshClaim();
				$.notify("Creation successful!",{className: "success", position: "right-bottom"});
				poly.setEditable(false);
                poly.setDraggable(false);
                onedit=false;
				poly.addListener('click', function(event){
	  				info.setContent('<b>Group: </b>'+'{{group}}'+'<br><b>Owner: </b>' +json.owner + '<br><b>ID: '+json.pk+'</b>');
	  				info.setPosition(event.latLng);
	  				info.open(map);
  				})
				console.log(json);
				console.log("success");
			},

			error: function(xhr, errmsg, err){
                $.notify("Opps! Something went wrong :(",{className: "error", position: "right-bottom"});
			}
		});
    } else{
        $.notify("You already saved your Area! Press New to create another.",{className: "info", position: "right-bottom"});
    }
}


    function newClaim(){
        saved=false
        if (onedit==false){
        poly=new google.maps.Polygon({
                paths: new google.maps.MVCArray([new google.maps.MVCArray]),
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                editable: true,
                draggable: true
            });
        google.maps.event.addListener(map, 'click', addPoint);
    }
    onedit=true;
    }

	function initialize() {
    	geocoder = new google.maps.Geocoder()
			var mapProp = {
  			center:myCenter,
  			zoom:2,
  			mapTypeId:google.maps.MapTypeId.ROADMAP,
				mapTypeControl: false,
        panControl:false,
        rotateControl:false,
				mapTypeControl:true,
        streetViewControl: false
  		};
  		map = new google.maps.Map(document.getElementById("map-container"),mapProp);
        onedit=true;
        console.log(document.getElementById("button1").textContent);
  		poly=new google.maps.Polygon({
                paths: new google.maps.MVCArray([new google.maps.MVCArray]),
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                editable: true,
                draggable: true
            });
        loadClaims('1');
  		google.maps.event.addListener(map, 'click', addPoint);
        /*google.maps.event.addListener(polypoints, 'set_at', function(){
            polygon.paths=polypoints;
            console.log(polygon.getPath());
        })*/
	}

    function loadClaims(prop){
        {% for claim in polygons %}
            path = [];
            {% for point in claim.poly.0 %}
                path.push(new google.maps.LatLng{{point}});
            {% endfor%}
            console.log("Test1");
            createPoly(prop, path, '{{claim.group.name}}','{{claim.claimer.email}}','{{claim.pk}}');
        {%endfor %}
        if(prop=='0'){
            loadedAll=true;
            loadedOwn=true;
            document.getElementById('button1').setAttribute("onclick","loadClaims('1')");
            document.getElementById('button1').innerText="Load Own";
        }
        if(prop=='1'){
            loadedOwn=true;
            loadedAll=false;
            document.getElementById('button1').setAttribute("onclick","loadClaims('0')");
            document.getElementById('button1').innerText="Load All";
        }
    }

    function createPoly(prop, path, group, email, pk) {
        console.log("Test2"+group);
        if ("{{group}}" == group && loadedOwn==false) {
            console.log("Test3");
        	var claim = new google.maps.Polygon({
                paths: new google.maps.MVCArray(path),
                strokeColor: '#FF0000',
                fillColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillOpacity: 0.35,
                editable: false
            });
            claim.addListener('click', function(event){
            info.setContent('<b>Group: </b>'+group+'<br><b>Owner: </b>' +email + '<br><b>ID: '+pk+'</b>');
            info.setPosition(event.latLng);
            info.open(map);
            })
            claim.setMap(map);
        }

        else{
            if ("{{group}}" != group && prop==0){
            var claim = new google.maps.Polygon({
                paths: new google.maps.MVCArray(path),
                fillColor: '#B8CE52',
                strokeColor: '#71972C',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#B8CE52',
                fillOpacity: 0.35,
                editable: false
            });
            claim.addListener('click', function(event){
            info.setContent('<b>Group: </b>' + group);
            info.setPosition(event.latLng);
            info.open(map);
            });
            claim.setMap(map);
        }
        }

    }

    function test(){
        //print_polygon();
        save();
    }
                  
	function addPoint(event) {
		if(poly.editable==true){
			poly.getPath().insertAt(poly.getPath().length, event.latLng);
			print_polygon();
			poly.setMap(map);
		}
	}    

    function save() {
        var googleToDjango="";
        for(var i=0;i<poly.getPath().length;i++){
            if(i>0){
                googleToDjango+=", ";
            }
            googleToDjango+=poly.getPath().getAt(i).lat()+" "+poly.getPath().getAt(i).lng();
        }
        googleToDjango+=", "+poly.getPath().getAt(0).lat()+" "+poly.getPath().getAt(0).lng();
        console.log(JSON.stringify(googleToDjango));
        return googleToDjango;
    }

    function print_polygon(){
    	console.log("Neues Poly! Länge: " + poly.getPath().length);
        for (var i=0; i<poly.getPath().length; i++){
            console.log(poly.getPath().getAt(i).lat());
        }
    }

    function placePolygon(event){
        if(poly){
            placeMarker(event);
            var index=paths.length;
            paths.push(event.latLng);
            poly.setPaths(paths);
            //google.maps.event.addListener(poly.getPath().getAt(index), 'set_at', print_polygon());
        }
        else if(!poly){
                placeMarker(event);
                paths.push(event.latLng);
                poly=new google.maps.Polygon({
                paths: paths,
                strokeColor: '#FF0000',
                strokeOpacity: 0.8,
                strokeWeight: 3,
                fillColor: '#FF0000',
                fillOpacity: 0.35,
                editable: false
            });
        } else {
            paths=poly.getPaths();
        }poly.setMap(map);
    }

	function getLocation() {
    	if (navigator.geolocation) {
    	    navigator.geolocation.getCurrentPosition(showPosition);
    	} else {
    	    x.innerHTML = "Geolocation is not supported";
    	    y.innerHTML = "by this browser.";
    	}
	}

	function showPosition(position) {
    	var latlng={lat: parseFloat(position.coords.latitude), lng: parseFloat(position.coords.longitude)};
    	placeMarker(latlng);
	}


	function placeMarker(location) {
	    if(marker){
	        infowindow.close();
	        marker.setPosition(location);
	        geocoder.geocode({'location': location}, function(results, status){
	            infowindow.setContent(results[0].formatted_address);
	            infowindow.open(map,marker);
	        })
	    }
	    else{
	        marker = new google.maps.Marker({
	        position: location,
	        map: map,
	        });
	        geocoder.geocode({'location': location}, function(results, status){
	            infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
	            infowindow.open(map,marker);
	        })
	       	map.setZoom(6);
	    }
		map.setCenter(marker.getPosition());
	}
	google.maps.event.addDomListener(window, 'load', initialize);


</script>
<script type='text/javascript'>
 	$('#location-map-modal').on('shown.bs.modal', function(e) {
        initialize();
    });

</script>

{% endblock %}