{% extends 'basics/base.html' %}
{% load filter%}
{% block content %}
{% load staticfiles %}

<!-- needs -->
<div id="standard-modal" style="margin-bottom: 90px;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row" style="margin-bottom: 15px;">
                <div class="col-sm-12">
                    <h2 class="text-center" id="standard-modal-headline">Needs</h2>
                </div>
            </div>
            <form class="form" id="filter-form" role="form" method="post" accept-charset="UTF-8">
            {%csrf_token%}
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <input type="text" class="form-control" id="basic-url" name="word-search" placeholder="Search" aria-describedby="basic-addon3"></input>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <select style="width: 100%" name="category" id="category">
                                    <option value="All" {% if 'All' == category %}selected{% endif %}>All categories</option>
                                    {% for cat in categorie %}
                                        <option value="{{ cat.name }}" {% if cat.name == category %}selected{% endif %}>{{ cat.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <div class="input-group">
                                    <span class="input-group-addon">Range:</span>
                                    <input type="text" class="form-control" id="range" name="range" value="{{range}}" aria-describedby="basic-addon3" maxlength="5" pattern="\d*"></input>
                                    <span class="input-group-addon">km</span>
                                </div>
                            </div>
                            <div class="col-sm-6" style="margin-bottom: 15px;">
                                <select style="width: 100%" name="cards_per_page" id="cards_per_page">
                                    <option selected value=10>10 needs per page</option>
                                    <option value=25>25 needs per page</option>
                                    <option value=100>100 needs per page</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <input type="hidden" class="form-control" id="page" name="page" value="1"/>

                <div class="row">
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 5px; margin-bottom:15px;">
                        <input type="button" class="btn btn-block btn-lg btn-primary standard-grey-button-bold" onclick="location.href='{% url 'basics:needs_all' %}'" value="Clear Filter"/>
                    </div>
                    <div class="col-sm-3 col-sm-offset-2" style="margin-top: 5px;">
                        <input id="standard-grey-button-bold" type="button" onclick="filter()" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                    </div>
                </div>
            </form>
        </div>
        <div id="insert">

        </div> <!--div insert -->

    </div>
</div>

<!-- &laquo; -->


<!-- end needs -->

<div class="col-sm-1 col-sm-push-11 col-xs-3 col-xs-push-9">
    <div id="add-float-button" style="float: right; margin-right: 50px;">
        <a id="standard-grey-button-light" type="button" class="btn btn-default button-float" onclick="location.href='{% url 'basics:needs_new' %}'" title="create new need" style="font-size: 26px;"><span class="glyphicon glyphicon-plus"/></a>
    </div>
</div>

<script>

    $(window).ready(function() {
        if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

    $(window).resize(function() {
        if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
            $('.button-float').css('position', 'fixed');
            $('.button-float').css('bottom', '20px');
        }else{
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

     $(document).scroll(function() {
         if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
             $('.button-float').css('position', 'absolute');
             $('.button-float').css('bottom', '0px');
         }
         if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
             $('.button-float').css('position', 'fixed');
             $('.button-float').css('bottom', '20px');
         }
     });

</script>

<script>
    function submit_page(button){
      var button = $(button).attr("value");
      $("#page").val(button);
      console.log($(button).attr("value"));
      filter();
    }
$(document).ready(filter);
function filter(){
  if(document.getElementById("range").value != "" && document.getElementById("range").value.match(/^[0-9]+$/)) {

      $.ajax({
      url: "filter/",
      type: "POST",
      data: {csrfmiddlewaretoken: '{{ csrf_token }}', page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), category: $("#category").val(), wordsearch: $("#basic-url").val()},

      beforeSend: function() {
        $('#insert').html("<div class='modal-body' style='padding-bottom: 0px;'' id='loader'><center><img src='{% static 'basics/images/loader.gif' %}'/></center></div><br>");
      },


      success: function(data){
        $('#insert').html(data);
        console.log("success");
      },

      error: function(xhr, errmsg, err){
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  }
  else{$("#range").notify("Please enter a valid range.",{className: "error", position: "top-left"})}
}

function report(pk){
    $.ajax({
        url: "report/",
        type: "POST",
        data: {csrfmiddlewaretoken: '{{ csrf_token }}', pk: pk, page: $("#page").val(), range: $("#range").val(), cards_per_page: $("#cards_per_page").val(), category: $("#category").val(), wordsearch: $("#basic-url").val()},

        success: function(data){
        $('#insert').html(data);
          console.log("success");
        },

        error: function(xhr, errmsg, err){
          console.log(xhr.status + ": " + xhr.responseText);
        }
    });

}

</script>


{% endblock %}
