{% extends 'basics/base.html' %}
{% block content %}

<div id="standard-modal">
	<div class="modal-content">
		<div class="modal-header">
            <h2 class="text-center" id="standard-modal-headline">Create new Need<br><small>Use this form to create a need so that other user can help you.</small></h2>
		</div>
		<div class="modal-body">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <form class="form" role="form" method="post" accept-charset="UTF-8">
                        {%csrf_token%}
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'not_valid' %}
                                    <div class="error-messages">
                                        <p>Please fill in all fields!</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <h4>Headline for your need: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="This headline will represent your need to those who want to help. Give a clear, short overview."><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'no_headline' %}
                                    <div class="error-messages">
                                        <p>Please type in an headline!</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <input type="description" class="form-control input-lg" placeholder="Headline" name="{{need.headline.name}}"  rows="4" maxlength="30" required></textarea>
                        </div>
                        <h4>Category for your need: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="Choose a suitable category for your need. It will make it easier to be found and you might be receiving help much faster!"><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                        <select style="width: 100%;" name="{{need.categorie.name}}">
                            {% for categorie in categories%}
                                <option value="{{categorie.id}}">{{categorie.name}}</option>
                            {% endfor %}
                        </select>
                        <h4>Description for your need: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="In order to receive only qualified answers, give a detailed, accurate description of what you need!"><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                        {% if messages %}
                            {% for message in messages %}
                                {% if message.message == 'no_text' %}
                                    <div class="error-messages">
                                        <p>Please type in an description!</p>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                        <div class="form-group">
                            <textarea type="description" class="form-control input-lg" placeholder="Description" name="{{need.text.name}}"  rows="4" required></textarea>
                        </div>
                        <div class="row">
                            <div class="col-lg-5 col-md-6 col-sm-8">
                                <h4>Optional choose a location for this need: <a id="tooltip-info" data-toggle="tooltip" data-placement="bottom"  title="If you do not want to use your standard location, choose another one, otherwise we will use the standard one!"><span class="glyphicon glyphicon-question-sign" style="color: #5D5F5B;"></span></a></h4>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-4">
                                <div class="form-group">
                                    {% include "basics/map_testing.html" %}
                                </div>
                            </div>
                        </div>
                        {% if user.groups.all|length != 0 %}
                            <div class="row">
                                <div class="col-sm-5 col-sm-offset-4" style="margin-top: 5px; margin-bottom: 15px;">
                                    <select style="width: 100%;" name="group">
                                        <option value="no_group">create for you</option>
                                        {% for group in user.groups.all %}
                                            <option value="{{group.id}}">create for {{group.name}}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Create"/>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-3 col-sm-offset-9">
                                    <div class="form-group">
                                        <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Create"/>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    </form>
                </div>
            </div>
		</div>
	</div>
</div>

<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
</script>

{% endblock %}
