{% extends 'basics/base.html' %}
{% load filter%}
{% block content %}

<!-- needs -->
<div id="standard-modal" style="margin-bottom: 90px;">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-2" style="padding: 15px">
                    <h2 class="text-center" id="standard-modal-headline">Needs</h2>
                </div>
                <form class="form" role="form" method="post" action="{% url 'basics:needs_all'%}" accept-charset="UTF-8">
                  {%csrf_token%}
                  <div class="col-sm-2" style="margin-top: 20px;">
                    <label for="basic-url">Search</label>
                    <div class="input-group">
                      <input type="text" class="form-control" id="basic-url" name="word-search" aria-describedby="basic-addon3">
                    </div>

                  </div>
                  <div class="col-sm-2" style="margin-top: 20px;">
                    <label> Range
                        <select style="width: 100%" name="range">
                          <option value="5" {% if 5 == range %}selected{% endif %}>5km</option>
                          <option value="10" {% if 10 == range %}selected{% endif %}>10km</option>
                          <option value="25" {% if 25 == range %}selected{% endif %}>25km</option>
                          <option value="50" {% if 50 == range %}selected{% endif %}>50km</option>
                          <option value="100" {% if 100 == range %}selected{% endif %}>100km</option>
                          <option value="200" {% if 200 == range %}selected{% endif %}>200km</option>
                          <option value="500" {% if 500 == range %}selected{% endif %}>500km</option>
                          <option value="1000" {% if 1000 == range %}selected{% endif %}>1000km</option>
                          <option value="50000" {% if 50000 == range %}selected{% endif %}>50000km</option>
                        </select>
                    </label>
                  </div>
                  <div class="col-sm-2" style="margin-top: 20px;">
                    <label> Category {{ category }}
                        <select style="width: 100%" name="category">
                          <option value="all" {% if 'all' == category %}selected{% endif %}>All</option>
                          {% for categorie in categories %}
                            <option value="{{ categorie.name }}" {% if categorie.name == category %}selected{% endif %}>{{ categorie.name }}</option>
                          {% endfor %}
                        </select>
                    </label>
                  </div>
                  <div  class="col-sm-2" style="margin-top: 20px;">
                    <label> Cards per Page
                        <select style="width: 100%" title="{{cards_per_page}}" name="cards_per_page">
                            <option {% if 10 == cards_per_page %}selected{% endif %}>10</option>
                            <option {% if 25 == cards_per_page %}selected{% endif %}>25</option>
                            <option {% if 100 == cards_per_page %}selected{% endif %}>100</option>
                        </select>
                    </label>
                  </div>
                  <div  class="col-sm-2" style="margin-top: 30px; margin-bottom: 0px;">
                      <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                  </div>
                </form>
            </div>
        </div>
        <div class="modal-body">
            <div class="list-group">
                {% if needs %}
                    {% for need in needs %}

                        <!-- list all needs -->
                        <a class="list-group-item" id="standard-list-group-item-div">
                            <div class="row">
                                <div class="col-sm-12" data-toggle="modal" data-target=".{{ need.id }}">
                                    <h4 class="list-group-item-heading">{{ need.headline }}</h4>
                                    <p class="list-group-item-text">{{ need|get_short_text:160 }}</p>
                                </div>
                                <div class="col-sm-9" data-toggle="modal" data-target=".{{ need.id }}">
                                    <h6><br>from: {{ need.date }} / category: {{ need.categorie.name }} / group: {{ need.group }} </h6>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" id="{{ need.id }}" class="btn btn-default btn-sml standard-grey-button-light " onclick="location.href='{% url 'basics:needs_help' id=need.id %}';" style="float: right; margin-top: 10px;"><span class="glyphicon glyphicon-comment"></span> Help</button>

                                </div>
                                <div class="col-sm-1"></div>
                                {% if not user.userdata in need.reported_by.all %}
                                  <div class="col-sm-1">
                                    <button type="button" id="{{ need.id }}" class="btn btn-default btn-sml standard-grey-button-light " onclick="location.href='{% url 'basics:report_need' pk=need.pk %}';" style="float: right; margin-top: 10px;"><span class="glyphicon glyphicon-alert"></span> Report</button>
                                  </div>
                                {% else %}
                                  <div class="col-sm-1">
                                    <button type="button" class="btn btn-default btn-sml standard-grey-button-light disabled" onclick="#" style="float: right; margin-top: 10px;"><span class="glyphicon glyphicon-alert"></span> Report</button>
                                  </div>
                                {% endif %}
                            </div>
                        </a>

                        <!-- modal for every need -->
                        <div class="modal fade {{ need.id }}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h2>{{need.headline}}</h2>
                                        <h6>from: {{ need.date }} / category: {{ need.categorie.name }} </h6>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ need.text|linebreaksbr }}</p>
                                    </div>
                                    <div class="modal-footer">

                                        <button type="button" id="standard-grey-button-bold" class="btn btn-default btn-sml standard-grey-button-light " onclick="location.href='{% url 'basics:needs_help' id=need.id %}';" ><span class="glyphicon glyphicon-comment"></span>Help</button>
                                        {% if not user.userdata in need.reported_by.all %}
                                          <button type="button" id="standard-grey-button-bold" class="btn btn-default btn-sml standard-grey-button-light " onclick="location.href='{% url 'basics:report_need' pk=need.pk %}';"><span class="glyphicon glyphicon-alert"></span> Report</button>
                                        {% else %}
                                          <button type="button" id="standard-grey-button-bold" class="btn btn-default btn-sml standard-grey-button-light disabled" onclick="#"><span class="glyphicon glyphicon-alert"></span> Report</button>
                                        {% endif %}
                                        <button id="standard-grey-button-bold" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4>There are no needs.</h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- end needs -->

<div class="col-sm-1 col-sm-push-11 col-xs-3 col-xs-push-9">
    <div id="add-float-button" style="float: right; margin-right: 50px;">
        <a id="standard-grey-button-light" type="button" class="btn btn-default button-float" onclick="location.href='{% url 'basics:needs_new' %}'" title="create new need" style="font-size: 26px;"><span class="glyphicon glyphicon-plus"/></a>
    </div>
</div>

<script>

    $(window).ready(function() {
        if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

    $(window).resize(function() {
        if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
            $('.button-float').css('position', 'fixed');
            $('.button-float').css('bottom', '20px');
        }else{
            $('.button-float').css('position', 'absolute');
            $('.button-float').css('bottom', '0px');
        }
    });

     $(document).scroll(function() {
         if($('.button-float').offset().top + 70 >= $('#footer').offset().top - 20){
             $('.button-float').css('position', 'absolute');
             $('.button-float').css('bottom', '0px');
         }
         if($(document).scrollTop() + window.innerHeight < $('#footer').offset().top){
             $('.button-float').css('position', 'fixed');
             $('.button-float').css('bottom', '20px');
         }
     });

</script>

{% endblock %}
