{% extends 'basics/base.html' %}

{% block content %}

{% load staticfiles %}

  <body>
      <div id="standard-modal">
      	<div class="modal-content">
      		<div class="modal-header">
  				<h2 class="text-center" id="standard-modal-headline">Chats<br><small>You have no chats with other users.</small></h2>
      		</div>
      		<div class="modal-body">
                <h4>You have no chats with other users.</h4>
      		</div>
      	</div>
      </div>
  </body>
  <div id="pop_up">

  </div>

{% endblock %}
