{% extends 'basics/base.html' %}

{% block content %}
<style>

	/*#map-container {
		height: 450px;
	}*/

	button, .btn-primary, .btn-primary:focus {
		background-color: #bbd153;
  		border-color: #70962c;
  		color: #4C4E49;
	}

	.btn-primary:hover, .btn-primary:active:focus {
		background-color: #96B440;
		color: #4C4E49;
	}

	.modal-header > h2 {
		color: #bbd153;
		font-weight: bold;
	}

	.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #70962c;
	}



	#address-label, #address-input {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#address-label {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	@media(max-width:768px) {

		#address-input {
			margin-top: 0px;
		}

		#address-label {
			margin-bottom: 5px;
		}

	}






	@media(max-width:768px) {

        .button-with-15-margin-at-768px {
                margin-bottom: 15px;
        }

    }


</style>

<div id="standard-modal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="text-center" id="standard-modal-headline">Your Profile<br><small>Note that your profile is exclusively visible for yourself!</small></h2>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <p id="description-label">Email:</p>
                        </div>
                        <div class="col-sm-8">
                            <p id="description-text">{{user.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <p id="description-label">Registered since:</p>
                        </div>
                        <div class="col-sm-8">
                            <p id="description-text">{{user.date_joined}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <p id="description-label">Auxiliary Radius:</p>
                        </div>
                        <div class="col-sm-8">
                            <p id="description-text">{{Userdata.aux}} km</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-sm-4">
                            <p id="description-label">Phone Number:</p>
                        </div>
                        <div class="col-sm-8">
                            {% if Userdata.phone %}
                                <p id="description-text">{{Userdata.phone}}</p>
                            {% else %}
                                <p id="description-text"><a id="green-link" href="{% url 'basics:profil_edit' %}">add phone number</a></p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    {% if Userdata.get_notifications %}
                        <p id="description-label">You have chosen to be notified via email, if somebody in your given auxiliary radius needs help in the following categories:</p>
                        <p id="description-text" style="padding-right: 20px; padding-left: 20px;"><i>
                            {% for cat in Userdata.inform_about.all %}
                                {% if forloop.last %}
                                    {{cat.name}}.
                                {% else %}
                                    {{cat.name}},
                                {% endif %}
                            {% endfor %}
                        </i></p>
                    {% else %}
                        <p id="description-label">Choose categories to let us know about what we should notify you via email, if somebody in your given auxiliary radius needs help.<br><a id="green-link" href="{% url 'basics:profil_edit' %}" style="font-weight: normal;">add categories</a></p>
                    {% endif %}
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <p id="description-label">Your standard location:</p>
                    <div id="map-container" style="height: 40%; margin-top: 15px;"></div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="row">
                <div class="col-sm-12">
                    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups" style="float: right">
                        <a id="standard-grey-button-light" class="btn btn-sm" href="{% url 'basics:profil_edit' %}" style="margin-bottom: 15px;"><span class="glyphicon glyphicon-pencil"></span> Edit my profile</a>
                        <a id="standard-grey-button-light" class="btn btn-sm" href="{% url 'basics:profil_delete' %}" style="margin-bottom: 15px;"><span class="glyphicon glyphicon-remove"></span> Delete my account</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="http://maps.googleapis.com/maps/api/js"></script>
<script>


  	var map;
  	var marker;
  	var myCenter=new google.maps.LatLng(51.508742,-0.120850);
  	var geocoder;
  	var infowindow;
    var directionsService = new google.maps.DirectionsService;
    var directionsDisplay = new google.maps.DirectionsRenderer;
    function initialize() {
      	geocoder = new google.maps.Geocoder()
  		var mapProp = {
    			center:myCenter,
    			zoom:4,
    			mapTypeId:google.maps.MapTypeId.ROADMAP,
  			    mapTypeControl: false,
                panControl:false,
                rotateControl:false,
  			    mapTypeControl:true,
                streetViewControl: false
    		};
    	marker=null;

    	map = new google.maps.Map(document.getElementById("map-container"),mapProp);

        placeMarker(new google.maps.LatLng(parseFloat("{{ Userdata.adrAsPoint.x }}".replace(",", ".")), parseFloat("{{ Userdata.adrAsPoint.y }}".replace(",", "."))));
        var circle = new google.maps.Circle({
            strokeColor: '#FF0000',
            strokeOpacity: 0.8,
            strokeWeight: 2,
            fillColor: '#FF0000',
            fillOpacity: 0.35,
            map: map,
            center: marker.getPosition(),
            radius: parseFloat('{{Userdata.aux}}')*1000,
    });


  	}

  	function placeMarker(location) {
  	    if(marker){
  	        infowindow.close();
  	        marker.setPosition(location);
  	        geocoder.geocode({'location': location}, function(results, status){
  	            infowindow.setContent(results[0].formatted_address);
  	            infowindow.open(map,marker);
  	        })
  	    }
  	    else{
  	        marker = new google.maps.Marker({
  	        position: location,
  	        map: map,
  	        });
  	        geocoder.geocode({'location': location}, function(results, status){
  	            infowindow = new google.maps.InfoWindow({content: results[0].formatted_address});
  	            infowindow.open(map,marker);
  	        })
  	       	map.setZoom(6);
  	    }
  		map.setCenter(marker.getPosition());
  	}
  	google.maps.event.addDomListener(window, 'load', initialize);

</script>

{% endblock %}
