{% extends 'basics/base.html' %}

{% block content %}
<!-- Introduction Row -->
	<div id="standard-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Edit Your Profile</h1>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8">
				    {% csrf_token %}
    				<div class="form-group">
    					<p style="font-size:130%;"> Pseudonym </p>
						<input type="description" class="form-control input-lg" value= {{ userdata.pseudonym }} name="pseudo" maxlength="15" >
					</div>

					<div class="form-group">
						<p style="font-size:130%;"> E-Mail </p>
						<input type="description" class="form-control input-lg" value= {{ user.email }} name="email" maxlength="255" >
					</div>

					<div class="form-group">
						<p style="font-size:130%;"> Phone </p>
						{% if userdata.phone == "" %}
							<input type="description" class="form-control input-lg" placeholder= phonenumber name="phone" maxlength="13" >
						{% else %}
							<input type="description" class="form-control input-lg" value= {{ userdata.phone }} name="phone"  >
						{% endif %}
					</div>

					<div class="form-group">
						<p style="font-size:130%;"> Range in km </p>
						<input type="description" class="form-control input-lg" value= {{ userdata.aux }} name="aux" maxlength="5" >
					</div>

					<div class="form-group">
					</div>
					{% include "basics/map_testing.html" %}

					<p><input type = "checkbox" name="information" {% if userdata.get_notifications %} checked {% endif %} onclick=$("#categories").fadeToggle();>
						<label class="w3-validate"> Inform me via email </label></p>

					<div id="categories" {% if not userdata.get_notifications %} style="display: none" {% endif %}>

					<p> Categories I want to be informed about </p>
						<div style="height: 6em; width: 12em; overflow: auto; padding-left:20px;">
							{% for categorie in categories %}
						 		<input id="{{categorie.id}}" type="checkbox" name=categories[] value = "{{categorie.name}}" {% if categorie in selected %} checked {% endif %} />
 								<label for="{{categorie.id}}">{{categorie.name}}</label>
								<br>
							{% endfor %}
 						</div>
						<br><br>
					</div>

					<p><input type = "checkbox" name="changePassword" {% if change == True %} checked {% endif %} onclick=$("#passwordChange").fadeToggle();>
						<label>Change my Password</label></p>


					<div id="passwordChange" {% if change == False %}style="display:none " {% endif %}>

					{% if change == True %}
					<p> couldn't change password, please try again </p>
					{% endif %}
    					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "old password"  name="oldpw" >
					</div>

					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "new password"  name="newpw1" >
					</div>

					<div class="form-group">
					<input type="password" class="form-control input-lg" placeholder= "repeat"  name="newpw2" >
					</div>

						</div>

					<br>


					<div class="form-group">
						<input id="standard-grey-button-bold" type="submit" onclick="profil_edit" class="btn btn-block btn-lg btn-primary" value="Save"/>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}


