{% extends 'basics/base.html' %}

{% block content %}
<!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Your Profile <small>Note that your profile is exclusively visible for yourself!</small></h1>
        	</div>
        </div>
        <div class="row">
        	<div class="col-lg-4 col-lg-offset-1">
        		<br>
        		<b>
				Name: {{Userdata.pseudonym}} 				<br>
				Email: {{user.email}}  						<br>
				Phonenumber: {{Userdata.phone}} 			<br>
				Registered since: {{user.date_joined}}		<br>
				Default auxiliary radius: 					<br>
				Notification:								<br><br>
				</b>

				<a class="btn btn-warning btn-sm"href="{% url 'basics:profil_edit' %}">Edit my profile</a>
				<a class="btn btn-danger btn-sm"href="{% url 'basics:profil_delete' %}">Delete my profile</a>
				<br>
				<br>
			</div>

		<div class="col-lg-4">
			{% load staticfiles %}
        	<img src={% static 'basics/images/profil.jpg' %} height="152"/>	
       	</div>

	</div>
{% endblock %}
