{% extends 'basics/base.html' %}

{% block content %}
<!-- Introduction Row -->
	<div class="modal-dialog" id="sign-up">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">Edit Your Profile</h1>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
				    {% csrf_token %}
    					<div class="form-group">
					<input type="description" class="form-control input-lg" placeholder= {{ userdata.pseudonym }} name="pseudo"  >
						</div>

					<div class="form-group">
					<input type="description" class="form-control input-lg" placeholder= {{ user.email }} name="email"  >
						</div>

					<div class="form-group">
					{% if userdata.phone == "" %}
					<input type="description" class="form-control input-lg" placeholder= phonenumber name="phone"  >

					{% else %}
					<input type="description" class="form-control input-lg" placeholder= {{ userdata.phone }} name="phone"  >
					{% endif %}
					</div>

					<div class="form-group">
					<input type="description" class="form-control input-lg" placeholder= {{ userdata.aux }} name="aux"  >
					</div>

					<div class="form-group">
						</div>
						{% include "basics/map_testing.html" %}

					<p><input type = "checkbox" name="information" {% if userdata.get_notifications %} checked {% endif %} onclick=$("#categories").fadeToggle();>
						<label class="w3-validate"> Inform me via email </label></p>

					<div id="categories" {% if not userdata.get_notifications %} style="display: none" {% endif %}>

					<p> Categories I want to be informed about </p>
						<div style="height: 6em; width: 12em; overflow: auto; padding-left:20px;">
							{% for categorie in categories %}
						 		<input id="{{categorie.id}}" type="checkbox" name=categories[] value = "{{categorie.name}}" {% if categorie in selected %} checked {% endif %} />
 								<label for="{{categorie.id}}">{{categorie.name}}</label>
								<br>
							{% endfor %}
 						</div>
						<br><br>
					</div>

					<div class="form-group">
						 <a class="btn-sm"href="{% url 'basics:change_password' %}">Change password</a>
						<input type="submit" onclick="profil_edit" class="btn btn-block btn-lg btn-primary" value="Save"/>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock %}
