<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<title>Act of Goods</title>
		{% load staticfiles %}
		<link rel="icon" href="{% static 'basics/images/icon.ico' %}">

		<!-- Bootstrap -->
		<link rel="stylesheet" href="{% static 'basics/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'basics/css/event-list.css' %}">
    <link rel="stylesheet" href="{% static 'basics/css/navbar_footer.css' %}">
	<link rel="stylesheet" href="{% static 'basics/css/standard_components.css' %}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{% static 'basics/js/bootstrap.min.js' %}"></script>
	<script src="https://www.google.com/recaptcha/api.js" async defer></script>
	<style>
		* {
	    		margin: 0;
    			padding: 0;
		}
		html, body {
			height: 100%;
			font-size: 1em;
		}
		#wrapper {
			position: relative;
    			min-height: 100%;
    			width: 100%;
    			margin: 0 auto;
    			overflow-x: hidden;
    			overflow-y: hidden;
		}

		#content {
			margin-bottom: 170px;
		}

	</style>


	</head>

	<body>

	<div id="wrapper">
		{% if user.is_authenticated and user.is_staff %} <!-- signed in user and admin -->
		<div id="header">
			<nav class="navbar navbar-inverse" role="navigation">
				<div class="container-fluid" id="navbar-inner">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="{% url 'administration:requests' %}">
							<img id="brand-image" src={% static 'basics/images/AoGLogo.png'%} alt="Act of Goods"/>
						</a>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse" id="navbar-collapse">
                        <div id="navbar-with-divider">
						    <ul class="nav navbar-nav navbar-left">
							    <li {% if "/administration/requests/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:requests' %}">Requests</a></li>
							    <li {% if "/administration/needs/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:needs' %}">Needs</a></li>
							    <li {% if "/administration/information/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:information' %}">Information</a></li>
							    <li {% if "/administration/users/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:users' %}">Users</a></li>
							    <li {% if "/administration/groups/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:groups' %}">Groups</a></li>
							    <li {% if "/administration/categories/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:categories' %}">Categories</a></li>
						    </ul>
                        </div>
						<ul class="nav navbar-nav navbar-right">
							{% if not user.is_superuser %}
							<li id="navbar-with-divider" {% if "/home/" in request.path %} class="active" {% endif %}><a href="{% url 'basics:home' %}">User Area</a></li>
							{% endif %}
                            <li {% if "/faq_administration/" in request.path %} class="active" {% endif %}><a href="{% url 'administration:faq_administration'%}">FAQ</a></li>
                            <li><a href="{% url 'basics:logout' %}">Logout</a></li>
						</ul>
					</div><!-- /.navbar-collapse -->
				</div><!-- /.container-fluid -->
			</nav>
		</div>
		{% endif %}

		<div class="container" id="content">
		{% block content %}
    	{% endblock %}
		</div>

		<div id="footer">
			<div class="row" id="footer-row">
        			<div class="col-lg-12 col-md-12 col-sm-12">
					<ul class="nav nav-pills nav-justified">
						<li><a {% if user.is_authenticated %} href="{% url 'administration:requests' %}" {% else %} href="{% url 'basics:login' %}" {% endif %}>Act of Goods</a></li>
						<li><a href="{% url 'basics:privacy' %}">Privacy</a></li>
						<li><a href="{% url 'basics:aboutus' %}">About Us</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</body>
</html>
