{% extends 'administration/base_admin.html' %}
{% block content %}

	<div class="modal-dialog" id="sign-up">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="text-center">create new Categorie</h1>
			</div>
			<div class="modal-body">
				<form class="form" role="form" method="post" accept-charset="UTF-8" id="login-nav">
					{%csrf_token%}
					<p style="font-size:160%;"> description <p\>
					<div class="form-group">
		  				<input type="name" class="form-control input-lg" placeholder="Categorie Name" name="name" required/>
		  			</div>
					<div class="form-group">
						<input type="submit" class="btn btn-block btn-lg btn-primary" value="Create & Send"/>
					</div>
				</form>
			</div>
		</div>
	</div>

    <div class="container">

        <h2 id="table-headline">Categories</h2>

        <div class="list-group">
            {% for categorie in categories %}
                <div class="list-group-item">
                    <div class="row">
                        <div class="col-sm-10">
                            {{ categorie.name }}
                        </div>
                        <div class="col-sm-2">
                            <a class="btn btn-default btn-sml" href="{% url 'administration:categories_delete' pk=categorie.pk %}" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <h4>No categories available. Create some.</h4>
            {% endfor %}
        </div>

    </div>
{% endblock %}
