
<style>

	#map-container {
		height: 450px;
	}

	button, .btn-primary, .btn-primary:focus {
		background-color: #bbd153;
  		border-color: #70962c;
  		color: #4C4E49;
	}

	.btn-primary:hover, .btn-primary:active:focus {
		background-color: #96B440;
		color: #4C4E49;
	}

	.modal-header > h2 {
		color: #bbd153;
		font-weight: bold;
	}

	.nav-tabs > li > a, .nav-tabs > li > a:hover, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
		color: #70962c;
	}



	#address-label, #address-input {
		margin-top: 5px;
		margin-bottom: 5px;
	}

	#address-label {
		margin-top: 12px;
		margin-bottom: 12px;
	}

	@media(max-width:768px) {

		#address-input {
			margin-top: 0px;
		}

		#address-label {
			margin-bottom: 5px;
		}

	}

</style>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#location-map-modal">Add User</button>
<!-- Modal -->
<div class="modal fade" id="location-map-modal">
   	<div class="modal-dialog modal-lg">
   		<div class="modal-content">
       		<div class="modal-body">
        		<div class="form-group">
		  			<input type="email" class="form-control input-lg" placeholder="Email" name="email" required/>
		  		</div>
		  		<div class="form-group">
					<input type="submit" class="btn btn-block btn-lg btn-primary" value="Add User"/>
				</div>
			</div><!-- modal-body -->
			<div class="modal-footer">
	        	<div class="form-group">
					<button type="button" class="btn btn-primary" data-dismiss="modal">Done</button>
	        	</div>
	        </div>
      	</div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css"></script>