{% extends 'administration/base_admin.html' %}
{% block content %}
{% load filter %}

<!-- needs -->
<div id="standard-modal">
    <div class="modal-content">
        <div class="modal-header">
            <div class="row">
                <div class="col-sm-12" style="padding: 15px">
                    <h2 class="text-center" id="standard-modal-headline">Needs</h2>
                </div>
                <div class="col-sm-1"></div>
                <form class="form" role="form" method="get" accept-charset="UTF-8">
                {%csrf_token%}
                <div class="col-sm-4" style="margin-top: 15px; margin-bottom: 15px;">
                    <select style="width: 100%" name="categories">
                        <option value="all">all Categories</option>
                        {% for categorie in categories %}
                            <option value="{{ categorie.name }}" {% if categorie == current_cat %}selected{% endif %}>
                            {{ categorie.name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div  class="col-sm-4" style="margin-top: 15px; margin-bottom: 15px;">
                    <select style="width: 100%" name="needs">
                        <option value="all" {% if 'all' == current_need %}selected{% endif %}>all Needs</option>
                        <option value="reported" {% if 'reported' == current_need %}selected{% endif %}> only reported Needs</option>
                    </select>
                </div>
                <script>

                </script>
                <div  class="col-sm-2" style="margin-top: 10px; margin-bottom: 10px;">
                    <input id="standard-grey-button-bold" type="submit" class="btn btn-block btn-lg btn-primary" value="Filter"/>
                </div>
                </form>
                <div class="col-sm-1"></div>
            </div>
        </div>
        <div class="modal-body">
            {% if messages %}
                    {% for message in messages %}
                        {% if message.message == 'need_gone' %}
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="error-messages" style="margin-top: 10px;">
                                        <p>Another admin or user already deleted this need!</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            <div class="list-group">
                {% if needs %}
                    {% for need in needs %}

                        <!-- list all needs -->
                        <a class="list-group-item" id="standard-list-group-item-div">
                            <div class="row">
                                <div class="col-sm-12" data-toggle="modal" data-target=".{{ need.id }}">
                                    <h4 class="list-group-item-heading">{{ need.headline }}</h4>
                                    <p class="list-group-item-text">{{ need|get_short_text:160 }}</p>
                                </div>
                                <div class="col-sm-11" data-toggle="modal" data-target=".{{ need.id }}">
                                    <h6><br>from: {{ need.date }} / category: {{ need.categorie.name }} / number of reports: {{ need.number_reports }}</h6>
                                </div>
                                <div class="col-sm-1">
                                    <button type="button" class="btn btn-default btn-sml standard-grey-button-light " style="float: right; margin-top: 10px;" onclick="location.href='{% url 'administration:need_delete' pk=need.pk %}'"><span class="glyphicon glyphicon-remove"></span> Delete</button>
                                </div>
                            </div>
                        </a>

                        <!-- modal for every need -->
                        <div class="modal fade {{ need.id }}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                            <div class="modal-dialog modal-lg">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                        <h2>{{need.headline}}</h2>
                                        <h6>from: {{ need.date }} / category: {{ need.categorie.name }} / number of reports: {{ need.number_reports }}</h6>
                                    </div>
                                    <div class="modal-body">
                                        <p>{{ need.text|linebreaksbr }}</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button id="standard-grey-button-bold" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% empty %}
                        <h4>There are no needs.</h4>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div><!-- end needs -->



{% endblock %}
