{% extends 'administration/base_admin.html' %}
{% block content %}

    <div class="container">

        <h2 id="table-headline">Normal Users</h2>

        <div class="list-group">
            {% for user in users %}
                {% if not user.is_superuser %}
                    <div class="list-group-item">
                        <div class="row">
                            <div class="col-sm-10">
                                {{ user.email }}
                            </div>
                            <div class="col-sm-2">
                                <a class="btn btn-default btn-sml" href="{% url 'administration:user_delete' pk=user.pk %}" title="delete"><span class="glyphicon glyphicon-remove"></span></a>
                                <a type="button" class="btn btn-default btn-sml" href="{% url 'administration:make_admin' pk=user.pk %}" title="make user to admin"><span class="glyphicon glyphicon-hand-up"></span></a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>

    </div>

{% endblock %}
