.mdl-grid {
	position: absolute;
	height: 50%;
	width: 50%;
	padding: 0;
	margin-left: 200px;
}

.chat-box {
	background : rgb(246, 247, 248);
	position: relative;
	overflow: hidden;
	margin: 0;
}

.mdl-cell--4-col, .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
	width: 50%;
}

.actions-container {
	position: absolute;
	bottom: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1rem;
	transition: all .15s ease-in;
	visibility: visible;
	opacity: 1;
	background: white;
}

.button-container {
	padding: 20px 0;
	display: none;
}
.room-container {
	left: 0;
	right: 0;
	top: 0;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 80%;
}

@media (max-width:995px) {
	.room-container{
		max-height: 10rem;
	}
}

.room {
	background-color: #bbd153;
	margin: 1rem;
	border-radius: 1em;
}
.message-list {
	height:60%;
	left: 0;
	right: 0;
	top: 0;
	position: relative;
	overflow-y: scroll;
	overflow-x: hidden;
}

.message {
	clear: both;
	margin: 1rem 0;
}

button, .btn-primary, .btn-primary:focus {
	background-color: #bbd153;
		border-color: #70962c;
		color: #4C4E49;
}

.btn-primary:hover, .btn-primary:active:focus {
	background-color: #96B440;
	color: #4C4E49;
}

.own.message {
	text-align: right;

}

.system.message {
	text-align: center;

}

.message__author {
	padding: 0 .5rem;
}

.message__avatar {

	float: left;
}

.message__text {
	/*overflow: hidden;
	padding: 0 1rem;*/
	color: white;
	padding: 18px 20px;
	line-height: 26px;
	font-size: 16px;
	border-radius: 7px;
	margin-bottom: 30px;
	max-width: 35%;
	position: relative;
	background: #6F952B;
	overflow: hidden;
	float: left;
	word-break: normal;
	text-align: left;
}
.btn-kick{
	text-align: right;
}

.own.message .message__avatar {
	float: right;
	background: #CEDE85;
}
.own.message .message__text {
	float: right;
	background: #5C5E5A;
}

.system.message .message__avatar {
	text-align: center;
}
.system.message .message__text {
	clear:both;
	text-align: center;
	background: #bbbbbb;
}
.mdl-progress {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	width: 50%;
	z-index: 100;
	height: 2px;
}

.mdl-progress.mdl-progress--indeterminate>.bar1, .mdl-progress.mdl-progress__indeterminate>.bar1, .mdl-progress.mdl-progress--indeterminate>.bar3, .mdl-progress.mdl-progress__indeterminate>.bar3 {
	background-color: rgb(68,138,255);
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.float-right {
	float: right;
}

.float-left {
	float: left;
}

.hidden {
	visibility: hidden;
	opacity: 0;
}

.small-text{
	font-size: 0.7em;
}



/* Small devices (tablets, 768px and up) */
@media (min-width: 1px) {
		.button-container {
		display: block;
	}
	.mdl-grid {
		position: absolute;
		height: calc(100% - 260px);
		width: calc(90% - 16px);
		padding: 8px;
		padding-bottom: 5%
	}

	.chat-box {
	}

	.mdl-cell--4-col, .mdl-cell--4-col-phone.mdl-cell--4-col-phone {
		width: calc(73.33333333% - 16px);
	}
}
