{% load filter%}
            {% if result_list %}
            <div class="timeline">
                <div class="timeline-tip"></div>
                <div class="list-group" style="margin-bottom: 0px; margin-top: 15px;">
                    {% for elem in result_list %}
                        {% if elem in infos %}
                            <!-- information -->
                            <div class="row">
                                <div class="timeline-badge" id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="you informed"><i class="glyphicon glyphicon-info-sign"></i></div>
                                <div {% if forloop.counter0|divisibleby:2 %} class="col-sm-6" id="left-timeline-block" {% else %} class="col-sm-6 col-sm-offset-6" id="right-timeline-block" {% endif %}>
                                    <div class="list-group-item {% if forloop.counter0|divisibleby:2 %} timeline-panel-right {% else %} timeline-panel-left {% endif %}" id="standard-list-group-item-div">
                                        <div class="row">
                                              <a href="{% url 'basics:information_view' pk=elem.id %}">
                                                  <div class="col-sm-12">
                                                      <h4 class="list-group-item-heading" style="color: #333; hover.color: #333; word-wrap: break-word;">{{ elem.headline }}<div id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="The number of vote up's for this information."  style="font-size: .83em; color: #555; hover.color: #555; float: right; cursor: pointer;"><span class="glyphicon glyphicon-chevron-up"></span>{{ elem.number_likes }}</div></h4>
                                                      <p class="list-group-item-text" style="color: #555; hover.color: #555; word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr  }}</p>
                                                      <h6 style="color: #555; hover.color: #555;"><br><i>from {{ elem.date }} {% if elem.author_is_admin %} by <span style="color: #D36E5A;">Admin</span>{% elif elem.group %} by <span style="color: #70962c;">{{ elem.group.name }}</span>{% elif elem.author == user %} by <span>you</span>{% endif %}</i></h6>
                                                  </div>
                                              </a>
                                        </div>
                                  </div>
                                  <div class="list-group-footer">
                                      <div class="row">
                                          <a class="list-group-footer-button" type="button" href="{% url 'basics:information_update' pk=elem.pk%}">
                                              <div class="col-sm-12">
                                                  <span class="glyphicon glyphicon-refresh"></span> Update
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                        {% elif elem in needs %}
                            <!-- need request -->
                            <div class="row">
                                <div class="timeline-badge" id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="you asked for"><i class="glyphicon glyphicon-question-sign"></i></div>
                                <div {% if forloop.counter0|divisibleby:2 %} class="col-sm-6" id="left-timeline-block" {% else %} class="col-sm-6 col-sm-offset-6" id="right-timeline-block" {% endif %}>
                                    <a class="list-group-item {% if forloop.counter0|divisibleby:2 %} timeline-panel-right {% else %} timeline-panel-left {% endif %}" id="standard-list-group-item-div">
                                        <div class="row">
                                            <div class="col-sm-12" data-toggle="modal" data-target=".n{{elem.id}}" id="cursor-pointer">
                                                <h4 class="list-group-item-heading" style="word-wrap: break-word;">{{ elem.headline }}
                                                    <div style="font-size: .83em; color: #555; hover.color: #555; float: right; ">
                                                        {% if not elem.was_helped_at or elem|get_room_helper_out %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="You waiting for help." class="glyphicon glyphicon-hourglass"></span>
                                                        {% elif elem.done  %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="Your helper and you considered the matter as settled." class="glyphicon glyphicon-ok"></span>
                                                        {% else %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="You are communicating with your helper." class="glyphicon glyphicon-comment"></span>
                                                        {% endif %}
                                                    </div>
                                                </h4>
                                                <p class="list-group-item-text" style="word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr }}</p>
                                                <h6><br><i>from {{ elem.date }} in category {{ elem.categorie.name }} {% if elem.group %} by <span style="color: #70962c;">{{ elem.group.name }}</span>{% elif elem.author == user %} by <span>you</span>{% endif %}</i></h6>
                                            </div>
                                        </div>
                                    </a>
                                    <div class="list-group-footer">
                                        <div class="row">
                                            {% if not elem.was_helped_at or elem|get_room_helper_out %}
                                                <a class="list-group-footer-button" type="button" href="{% url 'basics:need_edit' pk=elem.pk%}">
                                                    <div class="col-sm-6" id="list-group-footer-button-margin">
                                                        <span class="glyphicon glyphicon-pencil"></span> Edit
                                                    </div>
                                                </a>
                                                <a class="list-group-footer-button" id="cursor-pointer" type="button" onclick="deletePrompt('need', '{{elem.pk}}')" >
                                                    <div class="col-sm-6">
                                                        <span class="glyphicon glyphicon-remove"></span> Delete
                                                    </div>
                                                </a>
                                            {% elif elem.done  %}
                                                <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname_off_active_chat%}">
                                                    <div class="col-sm-12">
                                                        <span class="glyphicon glyphicon-comment"></span> Chat History
                                                    </div>
                                                </a>
                                            {% else %}
                                                {% if elem|get_room_need_user_finished_off_active_chat %}
                                                    <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname_off_active_chat%}">
                                                        <div class="col-sm-12">
                                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname_off_active_chat%}">
                                                        <div class="col-sm-6" id="list-group-footer-button-margin">
                                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                                        </div>
                                                    </a>
                                                    <a class="list-group-footer-button" id="cursor-pointer" type="button" href="{% url 'basics:needs_finish' roomname=elem|get_roomname_off_active_chat %}">
                                                        <div class="col-sm-6">
                                                            <span class="glyphicon glyphicon-ok"></span> Done
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal for every need -->
                            <div class="modal fade n{{elem.id}}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h2 style="word-wrap: break-word;">{{elem.headline}}</h2>
                                            <h6><i>from {{ elem.date }} in category {{ elem.categorie.name }} {% if elem.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=elem.group.name %}">{{ elem.group.name }}</a>{% elif elem.author == user %} by <span>you</span>{% endif %}</i></h6>
                                        </div>
                                        <div class="modal-body">
                                            <p style="word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="standard-grey-button-light" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% elif elem in needs_you_help %}
                            <!-- need your help -->
                            <div class="row">
                                <div class="timeline-badge" id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="you helped"><i class="glyphicon glyphicon-header" style="padding-top: 7px; padding-left: 6px"></i></div>
                                <div {% if forloop.counter0|divisibleby:2 %} class="col-sm-6" id="left-timeline-block" {% else %} class="col-sm-6 col-sm-offset-6" id="right-timeline-block" {% endif %}>
                                    <a class="list-group-item {% if forloop.counter0|divisibleby:2 %} timeline-panel-right {% else %} timeline-panel-left {% endif %}" id="standard-list-group-item-div">
                                        <div class="row">
                                            <div class="col-sm-12" data-toggle="modal" data-target=".nh{{elem.id}}" id="cursor-pointer">
                                                <h4 class="list-group-item-heading" style="word-wrap: break-word;">{{ elem.headline }}
                                                    <div style="font-size: .83em; color: #555; hover.color: #555; float: right; ">
                                                        {% if elem|get_room_helper_out_becuase_of_kick_or_leave:request.user %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="You have leaved the chat with the need owner or the need owner kicked you from the chat." class="glyphicon glyphicon-log-out"></span>
                                                        {% elif elem.done  %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="The need owner and you considered the matter as settled." class="glyphicon glyphicon-ok"></span>
                                                        {% else %}
                                                            <span id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="You are communicating with the need owner." class="glyphicon glyphicon-comment"></span>
                                                        {% endif %}
                                                    </div>
                                                </h4>
                                                <p class="list-group-item-text" style="word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr }}</p>
                                                <h6><br><i>from {{ elem.was_helped_at.was_helped_at }} in category {{ elem.categorie.name }} {% if elem.group %} by <span style="color: #70962c;">{{ elem.group.name }}</span>{% endif %}</i></h6>    <!-- TODO change date -->
                                            </div>
                                        </div>
                                    </a>
                                    <div class="list-group-footer">
                                        <div class="row">
                                            {% if elem|get_room_helper_out_becuase_of_kick_or_leave:request.user %}
                                                <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname:request.user%}">
                                                    <div class="col-sm-12">
                                                        <span class="glyphicon glyphicon-comment"></span> Chat History
                                                    </div>
                                                </a>
                                            {% elif elem.done  %}
                                                <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname:request.user%}">
                                                    <div class="col-sm-12">
                                                        <span class="glyphicon glyphicon-comment"></span> Chat History
                                                    </div>
                                                </a>
                                            {% else %}
                                                {% if elem|get_room_need_user_finished_off_active_chat %}
                                                    <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname:request.user%}">
                                                        <div class="col-sm-6" id="list-group-footer-button-margin">
                                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                                        </div>
                                                    </a>
                                                    <a class="list-group-footer-button" id="cursor-pointer" type="button" href="{% url 'basics:needs_finish' roomname=elem|get_roomname_off_active_chat %}">
                                                        <div class="col-sm-6">
                                                            <span class="glyphicon glyphicon-ok"></span> Done
                                                        </div>
                                                    </a>
                                                {% else %}
                                                    <a class="list-group-footer-button" type="button" href="{% url 'basics:chat_room' roomname=elem|get_roomname:request.user%}">
                                                        <div class="col-sm-12">
                                                            <span class="glyphicon glyphicon-comment"></span> Chat
                                                        </div>
                                                    </a>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- modal for every need -->
                            <div class="modal fade nh{{elem.id}}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h2 style="word-wrap: break-word;">You help here: {{elem.headline}}</h2>
                                            <h6><i>from {{ elem.date }} in category {{ elem.categorie.name }} {% if elem.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=elem.group.name %}">{{ elem.group.name }}</a>{% endif %}</i></h6>      <!-- TODO maby change date here too -->
                                        </div>
                                        <div class="modal-body">
                                            <p style="word-wrap: break-word;">{{ elem.text|linebreaksbr }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="standard-grey-button-light" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        {% elif elem in followed_infos %}

                            <!-- followed information information -->
                            <div class="row">
                                <div class="timeline-badge" id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="your followed information"><i class="glyphicon glyphicon-bookmark" style="padding-top: 8px; padding-left: 7px;"></i></div>
                                <div {% if forloop.counter0|divisibleby:2 %} class="col-sm-6" id="left-timeline-block" {% else %} class="col-sm-6 col-sm-offset-6" id="right-timeline-block" {% endif %}>
                                    <div class="list-group-item {% if forloop.counter0|divisibleby:2 %} timeline-panel-right {% else %} timeline-panel-left {% endif %}" id="standard-list-group-item-div">
                                        <div class="row">
                                              <a href="{% url 'basics:information_view' pk=elem.id %}">
                                                  <div class="col-sm-12">
                                                      <h4 class="list-group-item-heading" style="color: #333; hover.color: #333; word-wrap: break-word;">{{ elem.headline }}<div id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="The number of vote up's for this information." style="font-size: .83em; color: #555; hover.color: #555; float: right; cursor: pointer;"><span class="glyphicon glyphicon-chevron-up"></span>{{ elem.number_likes }}</div></h4>
                                                      <p class="list-group-item-text" style="color: #555; hover.color: #555; word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr  }}</p>
                                                      <h6 style="color: #555; hover.color: #555;"><br><i>from {{ elem.date }} {% if elem.author_is_admin %} by <span style="color: #D36E5A;">Admin</span>{% elif elem.group %} by <span style="color: #70962c;">{{ elem.group.name }}</span>{% elif elem.author == user %} by <span>you</span>{% endif %}</i></h6>
                                                  </div>
                                              </a>
                                        </div>
                                  </div>
                                  <div class="list-group-footer">
                                      <div class="row">
                                          <a class="list-group-footer-button" type="button" style="cursor:pointer" id="unfollow{{elem.pk}}" onclick="unfollow({{elem.pk}})"><!-- TODO -->
                                              <div class="col-sm-12">
                                                  <span class="glyphicon glyphicon-bookmark"></span> Unfollow
                                              </div>
                                          </a>
                                      </div>
                                  </div>
                              </div>
                          </div>

                        {% else %}
                            <!-- comment on information -->
                            <div class="row">
                                <div class="timeline-badge" id="tooltip-info" data-toggle="tooltip" data-placement="bottom" title="your commented"><i class="glyphicon glyphicon-comment"></i></div>
                                <div {% if forloop.counter0|divisibleby:2 %} class="col-sm-6" id="left-timeline-block" {% else %} class="col-sm-6 col-sm-offset-6" id="right-timeline-block" {% endif %}>
                                    <div class="list-group-item {% if forloop.counter0|divisibleby:2 %} timeline-panel-right {% else %} timeline-panel-left {% endif %}" id="standard-list-group-item-div">
                                      <div class="row">
                                          <div class="col-sm-12" data-toggle="modal" data-target=".c{{elem.id}}" id="cursor-pointer">
                                              <h4 class="list-group-item-heading" style="color: #333; hover.color: #333; word-wrap: break-word;">{{ elem.inf.headline }}</h4>
                                              <p class="list-group-item-text" style="color: #555; hover.color: #555; word-wrap: break-word;">{{ elem|get_short_text:512|linebreaksbr }}</p>
                                              <h6 style="color: #555; hover.color: #555; word-wrap: break-word;"><br><i>from {{ elem.date }} {% if elem.group %} by <span style="color: #70962c; word-wrap: break-word;">{{ elem.group.name }}</span>{% elif elem.author == user %} by <span>you</span>{% endif %}</i></h6>
                                          </div>
                                      </div>
                                    </div>

                                    <div class="list-group-footer">
                                        <div class="row">
                                            <a class="list-group-footer-button" type="button" href="{% url 'basics:information_view' pk=elem.inf.pk %}">
                                                <div class="col-sm-6" id="list-group-footer-button-margin">
                                                    <span class="glyphicon glyphicon-search"></span> Details
                                                </div>
                                            </a>
                                            <a class="list-group-footer-button cursor-pointer" type="button" onclick="deletePrompt('comment', '{{elem.pk}}')" >
                                                <div class="col-sm-6">
                                                    <span class="glyphicon glyphicon-remove"></span> Delete
                                                </div>
                                            </a>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <!-- modal for every comment -->
                            <div class="modal fade c{{elem.id}}"  role="dialog" aria-labelledby="request" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h2 style="word-wrap: break-word;">Information: {{ elem.inf.headline }}</h2>
                                            <h6><i>from {{ elem.inf.date }} {% if elem.inf.author_is_admin %} by <span style="color: #D36E5A;">Admin</span>{% elif elem.inf.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=elem.inf.group.name %}">{{ elem.inf.group.name }}</a>{% elif elem.inf.author == user %} by <span>you</span>{% endif %}</i></h6>
                                        </div>
                                        <div class="modal-body">
                                            <h5><i>Comment from {{ elem.date }} {% if elem.group %} by <a id="green-link" href="{% url 'basics:group_detail_for_user' name=elem.group.name %}">{{ elem.group.name }}</a>{% elif elem.author == user %} by <span>you</span>{% endif %}:</i></h5>
                                            <p>{{ elem.text|linebreaksbr }}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button id="standard-grey-button-light" type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                       {% endif %}

                   {% endfor %}
               </div>
            </div>
            {% else %}
                <h4>You haven't performed any activities. If you need help click FAQ at the navigation bar.</h4>
            {% endif %}

            <script>
            $(document).ready(function(){
                $('[data-toggle="tooltip"]').tooltip();
            });
            </script>
